[2015-08-07 07:08] vdemeester opened #10 "Proposal: complete integration (cli) tests"
It would be cool to cover the project with some integration cli to be more confident on the contributions we all do :sweat_smile:. What do you think ?

This would mean :
- [X] Define a general (and simple to start) structure to write tests and execute them (taking inspiration of other docker projects). This is actually already done :sweat_smile:, didn't look as much as I should have :blush:.
- [X]

[2015-08-07 07:41] ibuildthecloud commented on #10
100% agree on all points.  I'll be working on getting CI setup tomorrow too.

As a general goal the integration test should be able to run against libcompose and the python docker-compose.  This can help establish confidence that we conform with docker-compose where we want to.

[2015-08-07 09:46] aanand commented on #10
Agreed.

[2015-08-07 18:59] vdemeester commented on #10
Another question, how do you feel about the way the ``docker/docker`` is done — what do I mean is, any ``make`` *goals* starts up the docker image (and build it if needed) and run the scripts in the container. I personally love it (because there is a few thing I don't need to setup on my host :blush:).

Asking this because depending on the answer, the PRs depends. @ibuildthecloud feel free to ping

[2015-08-07 19:17] cpuguy83 commented on #10
Could totally use bats to do this too

[2015-08-08 02:24] ibuildthecloud commented on #10
I don't know if I'm personally a fan of bats.  I'd rather just stick to Go if possible.  I feel like all test frameworks you grow to hate, so might as we stick with Go as the barrier to entry is small.  Also with the integration tests we have already it's basically run `docker-compose` and then use the API client to assert all the right things happened.  So sticking with a programming language see

[2015-08-08 19:58] dnephin commented on #10
I think http://pytest.org/ broke that role for me. It's pretty great.

-----

If this library is supposed to share any feature set with `docker-compose` (my understanding is that is the idea), I think it would be good to have an acceptance test suite that is language agnostic, so a single suite can be run against both packages.

Each can still have their own tests to verify internal implementation

[2015-08-09 03:53] ibuildthecloud commented on #10
@dnephin I actually agree, I love py.test and we use it a lot at Rancher.  I thought of using that though I really feel it's a bit better to just stick with Go.  It falls in line with the rest of the Docker Project.

The intention of the integration test suite is that it will fork/exec the binary and run tests that way.  So the language of the test framework shouldn't impact the ability of the sui

[2015-08-13 07:33] vdemeester opened #14 "Proposal : Enable `golint` on the code base"
Taking the description directly from docker#14756.

There is some work to do, but I think it's would be better to do it as *early* as possible (easier to do). And as libcompose is intended to be used as a library more than just a cli, documentation and quality is import I think.

WDYT about that ?
If you think we should do it, we'll keep track of the work on this issue then :wink:.

Package (and l

[2015-08-13 16:42] dave-tucker commented on #14
:+1: we should probably `go vet` too
http://goreportcard.com/report/docker/libcompose

[2015-08-13 17:59] ibuildthecloud commented on #14
Both would be awesome.  Always better now than later.  @dave-tucker I had no idea that goreportcard site existed.  That is cool.

[2015-08-13 18:39] vdemeester commented on #14
@dave-tucker yeah me neither, pretty cool site :blush:. I'll setup the golint and govet validation the way there setup in docker and we'll have then have time to cover package as we go then :wink:.

[2015-08-13 18:41] vdemeester commented on #10
I think this one can be closed for now, am I right ? :sweat_smile:

[2015-08-14 07:47] #10 closed

[2015-08-14 18:01] ibuildthecloud opened #28 "container_name is not supported"
`container_name` was added to docker-compose 1.4 is not supported in libcompose

[2015-08-17 14:41] vdemeester commented on #28
Related compose PR : https://github.com/docker/compose/pull/1711.

[2015-08-17 22:55] aluzzardi opened #32 "libcompose should be go gettable/buildable/testable"
As documented, the build and test process are currently driven by a `Makefile` performing actions in a container.

Since this is a library, it should be `go gettable/buildable/testable` out of the box without having to run a non-standard process.

There are apparently dependencies against non-pkg parts of docker which make it tricky to do so.

[2015-08-17 23:44] ibuildthecloud commented on #32
This custom makefile is just to use a DIND setup to build and test.  Besides the fact that this code is using non-pkg docker, it should be compatible with go get.  The non-pkg code needs to be resolved by pulling that code out of docker and into a separate project.  Which I believe is being worked on for 1.9.

[2015-08-17 23:56] aluzzardi commented on #32
I think the main offender is the `github.com/docker/docker/registry` import in `docker/container.go`.

That's preventing me to build a "hello world" using `libcompose`:

[code]

Other than that, this is pretty awesome!

[2015-08-18 00:07] ibuildthecloud commented on #32
This is related to https://github.com/docker/docker/issues/11699.  I don't know if that issue is going to ever be resolved.  I'd guess the official solution would be "don't import that package."  So this goes back to the fact this code is uses non-pkg code from Docker.  The offending packages are:

[code]

We can probably go through and start removing the dependency on these but the majority of th

[2015-08-18 07:36] vdemeester commented on #32
@ibuildthecloud The more *problematic* package on the list are `runconfig` and `registry. The server/client API project should definitely help resolving this issue, but it will depend what will be there.

On the long term the server/client API should help a lot to remove duplication. On the short term, there is a few package dependencies that we can remove (by duplicating the code a bit).

[2015-08-21 13:12] nathanleclaire opened #33 "Is the LGPL license of the YAML library compatible?"
I'm really not sure on this one but we probably should check with a legal team if we haven't already to make sure that vendoring / statically linking to the YAML parsing library, which is released under the LGPL license, is compatible with the overall project's Apache license.

[2015-08-21 20:07] ahmetalpbalkan opened #34 "Strict yaml validation?"
I have mistakes in my docker-compose.yml file such as mistyped keys (`fooooocommand`):

[code]

libcompose seems to be ignoring them, however docker-compose does strict validation and errors out. We probably need the same behavior here.

[2015-08-21 20:21] ahmetalpbalkan opened #35 "Inaccurate service name in the logs"
This yml file:

[code]

results in the following logs (from the `example/main.go`):

[code]

note that there are two `sleep1`s. However `docker ps` shows that sleep1 and sleep2 is created successfully...

So if I add another `sleep3`

[code]

it works fine:

[code]

I'm guessing there's something wrong with the logs.

[2015-08-21 22:34] thaJeztah commented on #34
This PR was just merged in compose, and performs validation of the docker-compose.yml; https://github.com/docker/compose/pull/1808, could be useful when implementing the same in libcompose.

[2015-08-21 22:39] ahmetalpbalkan commented on #34
Yes, jsonschema is most certainly a legit solution here as well and it has some good golang libs too.

[2015-08-21 23:40] thaJeztah commented on #33
Good call, does this cover the use case here? http://stackoverflow.com/questions/1174240/apache-and-lgpl-license-compatibility

(gosh, this licensing stuff is complex)

[2015-08-22 06:36] ibuildthecloud commented on #33
Ugh call a lawyer.  Generally LGPL is fine when dynamically linked.  According to project

Im guessing it's fine.  If it's not basically somebody wrote a go library that can never be used :(  But I know a lot of conservative people just avoid all GPL like the plague.

[2015-08-22 06:41] ibuildthecloud commented on #34
That's a great idea if we can share schema files.  I'll look for a Json schema validator in go, hopefully we don't have to write one.

[2015-08-22 06:43] ibuildthecloud commented on #32
I hate duplicating code.  Maybe an incremental step would be to start putting in PRs to docker engine to move more common functionality to pkg.

[2015-08-22 06:44] ibuildthecloud commented on #34
But generally yes I agree with this issue.  We should be stricter because I mistype things myself all the time.

[2015-08-22 06:47] ibuildthecloud commented on #34
Okay, found this https://github.com/xeipuuv/gojsonschema. It's on github, it has a common name, so I think that means its production ready :)

[2015-08-22 10:24] thaJeztah commented on #34
It doesn't have tags or releases yet, so we may want to check that with the author of that project.

[2015-08-23 00:53] ahmetalpbalkan opened #36 "Consider moving docker/client.go to samalba/dockerclient"
https://github.com/docker/libcompose/blob/14f3832526c37fc9a7557c6e677336299d822cee/docker/client.go

Looks like this file has no compose-specific stuff and other projects which will also talk to the docker daemon has to construct a `tls.Config` by duplicating the code in the `CreateClient` method. Moving this common functionality to `samalba/dockerclient` repo would make a lot of sense for users o

[2015-08-24 12:02] flower-pot opened #38 "Allow running command"
It would be nice if it was possible to run a command in a service as an equivalent of

    docker-compose run `service` `command`

I might be able to submit a PR for this within the next couple of days.

Cheers

[2015-08-24 17:48] gdevillele commented on #14
goreportcard looks awesome! :+1:
Thank you.

[2015-08-25 16:24] ibuildthecloud opened #40 "Support interpolating environment variables"
https://github.com/docker/compose/pull/1765

[2015-08-25 21:47] ibuildthecloud commented on #38
@flower-pot Thanks, that would be great.

[2015-08-31 05:04] kuma-giyomu opened #42 "Volumes are not mounted correctly on the container"
On Windows if you have a simple data container

[code]

The filesystem of the container will show it mounted the following (`ls -l /`)

[code]
Applying the windows slash pattern results in unusable volumes.

[2015-08-31 07:07] ibuildthecloud commented on #42
Quite odd.  So you are saying the `/` becomes `\` on windows?

[2015-08-31 07:14] kuma-giyomu commented on #42
That definitely happened on my setup here.
I'll create a test `docker-compose.yml` and post it

[2015-08-31 07:15] vdemeester commented on #42
@kuma-giyomu could you provide the docker version too ? (just in case :sweat_smile:)
@ibuildthecloud I think we're gonna need a windows build at some point :door: (ping @jfrazelle).

I think we should look how the docker-cli handles that, because we probably are using `path/filepath` and sending the `\…` through the API, even though it's a linux host.

[2015-08-31 07:18] ibuildthecloud commented on #42
@vdemeester just odd because I don't even think we touch the volume paths right now.  So not totally sure how the path is getting manipulated.  But I agree, a windows build would be very useful.

[2015-08-31 07:31] kuma-giyomu commented on #42
My bad, it was probably an artefact from buggy containers generated with a broken library I was experimenting before. I thought I cleaned up thoroughly but who knows...
I started with a fresh VM this time and it works fine with a minimal test case, so I think your work is not in cause and as usual the problem is the user ;/

[2015-08-31 07:31] #42 closed

[2015-08-31 07:34] vdemeester commented on #42
@kuma-giyomu no problemo :wink:

[2015-09-08 21:35] ahmetalpbalkan commented on #35
anyone?

[2015-09-09 08:36] ghigt commented on #35
With you examples, I get a different output:
[code]

I think the output should write `Project [test2]: Project starting` for the first line.
But it's a very minor bug, I guess it will be fixed when the logs will be replaced by the actual "official" docker-compose output.

[2015-09-09 17:20] #28 closed

[2015-09-10 00:18] ahmetalpbalkan commented on #34
it'll probably just work :) why don't we give it a shot? anyone?

[2015-09-10 00:58] ibuildthecloud commented on #34
I'm all for it, worst case scenario is doesn't work.  We got nothing to loose :)

[2015-09-15 22:54] ahmetalpbalkan opened #52 "go get fails"
I'm not sure how to correctly vendor this repo:

[code]

I can see the pkg is here https://github.com/docker/libcompose/tree/master/Godeps/_workspace/src/github.com/docker/docker/autogen/dockerversion but not sure why it is hitting github for the dependencies.

Sorry in advance if it's some obvious thing about godeps but it seemed like this should be working.

[2015-09-16 01:27] ibuildthecloud commented on #52
This is basically a dup of https://github.com/docker/libcompose/issues/32

[2015-09-16 01:49] ahmetalpbalkan commented on #52
Fair point.

[2015-09-16 01:49] #52 closed

[2015-09-18 22:44] ibuildthecloud commented on #36
This sounds like a good idea.  Anybody like @samalba @vieux @aluzzardi @icecrime have any comments here?

[2015-09-23 03:28] bohai opened #56 "Split integration test"
Now all the integration tests are in `basic_test.go`, it's no clear.
I want to split tests by command, so that we can enhance every command test in their own file.

[2015-09-23 03:28] bohai commented on #56
ping @aanand @aduermael @ibuildthecloud @gdevillele
WDYT?

[2015-09-23 03:32] ibuildthecloud commented on #56
+1

The tests ended up that way largely due to my laziness, I wasn't sure how to separate the tests into different files w/ go-check so I just didn't do anything :disappointed:

[2015-09-23 06:32] vdemeester commented on #56
@bohai good idea, was on my todo list for a while :stuck_out_tongue_closed_eyes:.

The question is then how to split them : by commands (like `up`, `kill`, etc..) or ?

[2015-09-23 14:24] dnephin commented on #56
We'd like to extract the cli test suite from `docker-compose` and have it run by executing the binary. That way we can use the same test suite against libcompose and ensure at least partial feature parity (for the areas covered by test).

So I'd suggest keeping the testing to more of the internals, instead of working on the end-to-end tests for each command.

[2015-09-23 14:30] vdemeester commented on #56
@dnephin :+1: :wink:

[2015-09-23 14:37] ibuildthecloud commented on #56
@dnephin I don't think I really agree for the short term.  I can't imagine you will port the Python test soonish.  I'm a strong believer that integration tests are more valuable that unit tests.  So I'd prefer we continue on the current path of how we write tests so libcompose can continue forward.

Split the tests into files by command (up, kill, etc) seems logical to me.

[2015-09-23 14:53] dnephin commented on #56
Yes, I agree that's a good idea, I was just putting it out there so that no one spends a bunch of time adding test coverage that may be replaced by a shared suite.  Adding a few additional tests while things are being developed seems fine to me.

I think it would be good to clarify terminology here. Integration testing is whitebox testing of multiple components together.

What is currently in `int

[2015-09-23 17:33] bfirsh commented on #34
See also: https://github.com/docker/compose/issues/2089

[2015-09-24 03:20] bohai commented on #56
@vdemeester:
Yeah, by commands is OK (like `swarm`).
 I have  split it locally and will submit a PR. :)

[2015-09-26 06:49] anibali opened #60 "Strange "volumes_from" behaviour?"
I've been playing around with libcompose-cli on the Raspberry Pi (ARM) and ran into what appears to be an issue with volumes_from. The following, which I would do using docker-compose, does not work:

**server/docker-compose.yml**

[code]

**Output**

[code]

However, if I use the full container name in volumes_from (that is, "server_first_1" instead of just "first"), it appears to make better pro

[2015-09-26 09:43] vdemeester commented on #60
@anibali Thanks for the report.

It should be compatible with `docker-compose` as much as possible, so this sounds like a bug.

[2015-09-28 00:46] joshwget commented on #34
Working on a PR for this, I think [xeipuuv/gojsonschema](https://github.com/xeipuuv/gojsonschema) will be sufficient. I've ran into a few small bugs(xeipuuv/gojsonschema#72, xeipuuv/gojsonschema#73, xeipuuv/gojsonschema#74), but I think I can include some band-aids to get around them until they're fixed.

[2015-09-28 00:53] dnephin commented on #34
@joshwget I just want to make sure that you saw the above message. We want to use the same schema from compose (see the linked issue docker/compose#2089). I wouldn't recommend creating a new schema. For now copying it into the repo, or curling it as part of a build step will have to do.  We'll make it available in a more permanent way soon enough.

[2015-09-28 00:57] joshwget commented on #34
@dnephin I did see it, thanks! I'm currently developing with that schema.

[2015-10-06 14:56] #14 closed

[2015-10-07 13:43] #40 closed

[2015-10-07 13:58] dnephin commented on #36
+1

[2015-10-07 15:16] ibuildthecloud commented on #36
Honestly I'd like to switch to https://github.com/fsouza/go-dockerclient.  Not that that is in anyway related, but just saying :)

[2015-10-07 16:16] ahmetalpbalkan commented on #36
@ibuildthecloud +1. A client independent of docker/docker is a healthier process.

[2015-10-07 16:51] ibuildthecloud opened #71 "Propose using https://github.com/fsouza/go-dockerclient"
We currently use https://github.com/samalba/dockerclient to talk to Docker.  I propose we switch to https://github.com/fsouza/go-dockerclient.  The advantage of https://github.com/fsouza/go-dockerclient is that it has full coverage of the Docker API and is written in a style that is forward compatible.  The @fsouza client seems more active from a larger community perspective where as the samalba c

[2015-10-07 16:52] ibuildthecloud commented on #36
@ahmetalpbalkan I created https://github.com/docker/libcompose/issues/71 to discuss this.

[2015-10-07 16:55] ahmetalpbalkan commented on #71
:+1:

[2015-10-07 17:33] imikushin commented on #71
:+1:  for fsouza/go-dockerclient

[2015-10-07 19:39] dnephin commented on #71
It does seem to be a more active project. Works for me.

[2015-10-07 19:48] ibuildthecloud opened #72 "Compose 1.5+ will not allow `restart: no` but require `restart: 'no'`"
After compose 1.5 you must put in the yaml file `restart: 'no'`(which is a string) and not `restart: no` (which is a boolean).  libcompose should do the same.

[2015-10-07 19:57] ibuildthecloud commented on #32
@vdemeester Do you have any suggestions on how we can tackle this?  I'm wondering if we can maybe break this up into chunks of works.  I know there are people willing to work on it but this effort is vague and daunting.  The fact that libcompose is not `go gettable` seems like a pretty big problem.

[2015-10-07 20:21] vdemeester commented on #32
@ibuildthecloud Yes I aslo think we should break this into chunks of works. I'm not gonna be available tomorrow but I'll try to create a list of things that can (or cannot) be done in parallel in smaller chunks so that we can track the progress too :smile_cat:

[2015-10-07 20:22] vdemeester commented on #71
Works for me too 🐶.

[2015-10-08 12:10] ibuildthecloud opened #75 "`make all` doesn't do "all""
I'm not sure how the build system and Jenkins is setup, so I don't fully understand the Makefile setup.  Currently `make all` just does a build and not run tests.  I keep forgetting to run `test` or `validate` before I check in, resulting in failed builds on Jenkins.

Is there a simple target I can run that will run all tests and validation basically simulating what Jenkins would do?

@vdemeester

[2015-10-08 16:47] vdemeester commented on #75
@ibuildthecloud currently not, but I'll submit a PR right away :wink:

[2015-10-08 18:13] #75 closed

[2015-10-09 05:28] ibuildthecloud opened #79 "Switch to non-LGPL yaml parser"
https://github.com/go-yaml/yaml is licensed under [LGPL with exceptions](https://github.com/go-yaml/yaml#license).  While legally it is probably okay to run this software many organizations have a strict no GPL of any kind allowed policy for libraries.  I think it is worthwhile investigating alternative yaml libraries.  One possible library is https://github.com/cloudfoundry-incubator/candiedyaml.

[2015-10-10 19:30] #35 closed

[2015-10-11 14:28] vdemeester commented on #32
## TODO

*WIP* : I'll complete this and create issue this evening :wink:

- `github.com/docker/docker/utils` :
  - `ReadDockerIgnore`
  - `ValidateContextDirectory`
  - `ImageReference`

- `github.com/docker/docker/registry` :
  - `ParseRepositoryInfo`
  - `ResolveAuthConfig`

## Handled

- `github.com/docker/docker/runconfig`:
  - `runconfig.Config` should be handled by #71 ([here](https://github

[2015-10-11 15:10] ibuildthecloud commented on #32
Wow, maybe this is easier than I thought :smile:

[2015-10-14 22:15] gondor opened #84 "Error when referring to libcompose as a dependency"
I am currently integrating libcompose as a dependency in my project and am getting the following error.

Importing:
[code]

Updating dependencies via go get:
[code]

Error:
[code]

I get the same issues using the example within the README.  Any suggestions on how to get around this?

[2015-10-14 22:34] gondor commented on #84
Sorry, just found issue #32 . If it appears it will address this issue then you can close this

[2015-10-15 07:21] vdemeester commented on #84
@gondor thank you :wink: It's something we're trying to address, hopefully should be done in not too much time :stuck_out_tongue_closed_eyes:

[2015-10-15 07:21] #84 closed

[2015-10-15 22:17] joshwget opened #85 "Numeric attributes should also be accepted as strings"
Docker Compose accepts strings for all attributes that accept numbers. For example, these both should be valid:

    mem_limit: 40000000
    mem_limit: "40000000"

Currently, only the former is accepted by libcompose. This also breaks interpolation since variables are always inserted as strings.

One possible solution is to change the types from int64 to the following:

    type Stringorint64 stru

[2015-10-16 02:23] xiaods commented on #79
+1

[2015-10-17 21:13] vdemeester commented on #56
Closing this one #57 is merged.

[2015-10-17 21:13] #56 closed

[2015-10-17 21:18] #85 closed

[2015-10-18 17:02] #71 closed

[2015-10-18 17:02] ibuildthecloud commented on #71
Fixed in #78

[2015-10-18 17:03] ibuildthecloud commented on #79
We are going to give this a shot.

ping @imikushin

[2015-10-18 21:14] flower-pot commented on #32
Shouldn't #78 be a nice step towards this?

[2015-10-19 06:04] imikushin commented on #79
@ibuildthecloud I'll see what I can do.

[2015-10-23 06:20] vdemeester opened #95 "Better way to expose ValidRemotes"
Related to #73, find a better way to expose `ValidRemotes` for build*ing* ; either by exposing an better interface or by reusing something that comes from `docker/docker` pkg's / api.

Ref. https://github.com/docker/libcompose/pull/73/files#diff-9ffe418d3ead372a7fb8e2e59ea5ab15R18

[2015-10-29 06:28] ibuildthecloud opened #98 "Support multiple -f"
https://github.com/docker/compose/blob/129092b7/docs/reference/docker-compose.md

[2015-11-01 22:21] joshwget commented on #72
Just tested with #99. It'll take care of this.

[2015-11-01 23:19] ehaydenr commented on #98
It seems like type `Context` in project/context could be changed such that `ComposeFile` changes from `string` to `[]string` or upon parsing the flags, a temporary yml could be created from the concatenation of each file specified. It seems like the latter might be cleaner.

[2015-11-06 02:15] bohai opened #100 "Support Bash Completion"
This idea is to add bash completion for libcompose.

Below is a  bash completion example:
<pre><code>
// press tab twice after input "docker k", "kill" is completed and containers are printed.
root@SZX1000041895:~/sleep# docker ps
CONTAINER ID        IMAGE                        COMMAND             CREATED             STATUS              PORTS               NAMES
d3b5210874af        mbrt/golang-vi

[2015-11-06 02:36] dnephin commented on #100
I think https://github.com/docker/compose/tree/master/contrib/completion should work, no?

[2015-11-06 07:31] vdemeester commented on #100
@bohai I think it should yeah (except for the `docker-compose` command part :stuck_out_tongue: https://github.com/docker/compose/blob/master/contrib/completion/bash/docker-compose#L443).

[2015-11-06 07:46] bohai opened #101 "Two improvements about libcompose command help"
### improvements
##### No.1
The command usage  is not displayed for the command which has no options.
Maybe this is a bug.
##### No.2
Many commands of libcompose support specifying some services as the command args.
But this is not displayed in the command help .

##### Example
Current display:
<pre><code>
root@SZX1000041895:~/sleep# libcompose-cli help create
WARN[0000] Note: This is an experimen

[2015-11-07 17:48] ngtuna opened #104 "Bundles is empty with OSX build"
Building on OSX go to sucess, unfortunately bundle folder is empty.

[code]

[2015-11-08 16:00] gondor commented on #32
This is getting close with your recent changes in #83 .  The issue is the needed `go generate` step.  Any chance you couldn't do this and checkin the docker/autogen/dockerversion the go generate creates into the vendor like everything else?

Being dependent on libcompose I was forced to navigate to libcompose in my $GOPATH run `go generate` and then things were ok.   This seems like the last fix n

[2015-11-08 16:26] vdemeester commented on #32
@gondor you are right, we could check in the `dockerversion` :stuck_out_tongue_closed_eyes:

[2015-11-08 21:21] #79 closed

[2015-11-08 21:36] vdemeester commented on #104
@ngtuna hum according to the line `docker run --rm […]`, it did not mount the volume (`bundles`) and thus the generated binaries are inside the VM.. #investigating :wink:

[2015-11-09 16:54] ngtuna commented on #104
That's right...

[2015-11-17 09:09] ahmetalpbalkan commented on #35
Hmm this just reproes live on dockercon stage.  it's not libcompose but seemed very similae :-)

![image](https://cloud.githubusercontent.com/assets/159209/11207067/4aae23b6-8d13-11e5-8a7c-d8fa90abd5dd.jpeg)

[2015-11-17 15:27] vdemeester commented on #35
oh right.. but it was using `compose`, the python project so.. that's weird..

[2015-12-02 06:18] lox opened #113 "Quoted numbers are converted to int types in interpolation, then fail to parse"
Given:

[code]

The result is a panic:

[code]

[2015-12-02 15:59] #32 closed

[2015-12-02 18:41] dnephin commented on #113
This is being worked on in #108

[2015-12-02 22:58] lox commented on #113
It seems like that PR is just going to return an error rather than panic. The bug seems like it's lower down the stack. I'm not sure why the quoted integer is being passed by the YAML library is an int64, it should be a string.

[2015-12-02 23:49] dnephin commented on #113
Oops, I glossed over this too quickly. You're right, that PR is maybe not related.

[2015-12-03 01:27] joshwget commented on #113
I just took a look at this, and it definitely seems to be a result of #86. @ibuildthecloud, it looks like that approach had an unexpected bug.

[2015-12-04 16:19] gondor opened #119 "Libcompose with Docker-Machine - x509: certificate signed by unknown authority"
Now that libcompose is `go gettable` (thank you)  I proceeded to finish incorporating it in my current project.  During a basic project up test the following error is occurring.   I've also tried simplified test code in a new project to reproduce.

I wasn't seen this issue prior to libcompose being `go gettable`.  Not sure if it's related

### Error Log
[code]

### Test Code
Using the example as i

[2015-12-04 16:25] vdemeester commented on #119
@gondor how are you pointing to the machine ?

[2015-12-04 16:29] gondor commented on #119
I was testing it like docker-compose where it picks up the env variables.  Does libcompose require setting the machine via code?  I don't mind either way

Env vars
[code]

[2015-12-04 16:33] vdemeester commented on #119
@gondor does your `docker-machine` version not setting `DOCKER_CERT_PATH` ? (I have to try though)

[2015-12-04 20:18] gondor commented on #119
@vdemeester I apologize I should of done a `env | grep DOCKER` .  Yes it is setting the cert path.  Heres all DOCKER env vars on OS X 10.11

[code]

[2015-12-05 10:12] vdemeester commented on #119
@gondor This can be splitted into two points and one problem. At first I thought you were using the `libcompose-cli` bin and it works.

But if you use `libcompose` as a lib, you need to handle the `DOCKER_TLS_VERIFY` environment variables for now (neither `libcompose` or the docker-client lib we use does automatically handle it).

For example, the following code would work (it's ugly and can be wr

[2015-12-05 15:58] gondor commented on #119
That worked like a champ! Thank you very much @vdemeester

[2015-12-05 15:58] #119 closed

[2015-12-24 15:30] vdemeester opened #124 "Libcompose 1.0.0 <-> Compose 1.6.0 features"
I've tried to come up with a *feature grid* / *missing feature* recap' in order to know what to do to achieve a complete compatibility with `docker-compose` ; and thus making it easy to follow afterwards.

The goal of this issue is to keep track of what is done and what's not. As it might be a little big, we'll probably split this up into small issues for each missing part.

I've created a `1.0.0`

[2015-12-26 05:08] ibuildthecloud commented on #124
@vdemeester Wow, thanks, this is really helpful.  I'll look over it more next year (next week :smile: )

[2015-12-26 13:32] vdemeester opened #129 "The rm command always require `--force`"
The `rm` only works with specifying the `--force` flag. This does not work as expected and as `docker-compose` does.

<del>The `--force` works as expected when the container are still running.</del> Even the force doesn't work as expected, `docker-compose rm --force` just don't ask for confirmation, but it will not remove running containers at all.

## Steps to reproduce

Let's use the following `

[2015-12-27 12:10] vdemeester commented on #124
I still have to list some stuff that would be in the 1.6.0 milestone for `docker-compose`, see https://github.com/docker/compose/milestones/1.6.0.

[2015-12-29 14:43] vdemeester opened #131 "up command without detach should stop container on ctrl-c"
When using `docker-compose up`, it starts all the containers in foreground (or kinda :stuck_out_tongue_closed_eyes:) ; thus when issuing `ctrl-c`, it shuts them down. `libcompose-cli` on master does not.

[code]

[2015-12-29 14:56] vdemeester opened #132 "libcompose{,-cli}/docker-compose "commutable""
Should we be able to start a *compose* using `docker-compose` and then using `libcompose-cli` or directly the API to continue managing those services.

I do think **it should be commutable**, which is *not the case right now*.

[code]

We do generate labels with `libcompose` but they seem to be outdated and thus not recognized by `docker-compose` :

- with `docker-compose`

[code]

- with `libcomp

[2016-01-08 21:10] dsvmacdonald commented on #98
Any idea when this will be fixed?  I see a PR that looks promising.

[2016-01-09 15:25] mlhoque opened #137 "Go Get fails for docker/pkg/nat"
docker/docker/pkg/nat was replaced by docker/go-connections/nat.

[2016-01-09 15:45] vdemeester commented on #137
@mlhoque thanks for the report. I'm working on it in my [bum-docker-1.10](https://github.com/vdemeester/libcompose/tree/bump-docker-1.10) branch, but that is why we are using vendoring (`GO15VENDOREXPERIMENT`) :stuck_out_tongue_closed_eyes:.

[2016-01-11 10:03] mlhoque commented on #137
@vdemeester Thank you for the update!

[2016-01-11 10:03] #137 closed

[2016-01-18 22:03] #129 closed

[2016-01-22 20:46] #98 closed

[2016-02-02 17:54] vdemeester opened #142 "Create a release.sh script"
in `hack/release.sh` that run tests, merge into master, tag the branch and publish it to github release pages.

[2016-02-04 13:07] vdemeester opened #145 "Integration API tests"
The main value of libcompose is the _lib_ part, not the generated binary.
Thus it would make way sence to have more _API_ integration tests than actual _CLI_ tests.

This also has to be thought with the acceptance test in place too (to not duplicate work for nothing).

[2016-02-08 11:24] runseb opened #147 "Support version 2 of compose file"
Hi, I don't think lib compose can currently parse version 2 compose files.

[2016-02-08 11:27] vdemeester commented on #147
@runseb true, it's on the roadmap for `v0.2.0` : https://github.com/docker/libcompose/wiki/0.2.0-Milestone-Project-Page :wink:

[2016-02-18 09:18] kunalkushwaha commented on #132
Can you please give little details about `container-number` and `oneoff`.

I tried to understand PR https://github.com/docker/compose/pull/1356/files, but not much comfortable with python code.

[2016-02-19 08:32] kunalkushwaha opened #151 "`libcompose-cli rm` log messages are confusing."
In log message for `libcompose-cli rm`, before asking for deletion, it prints containers deleting message.

[code]

Should be equivalent to

[code]

[2016-02-19 08:36] kunalkushwaha opened #152 "While scaling, libcompose do not prints error message for Port Clash."
expected behaviour

[code]

Actual Behaviour
[code]

[2016-02-19 08:40] vdemeester commented on #151
Thanks @kunalkushwaha, the output will change a bit soon :wink: to be closer to the `docker-compose` one, but I added this to `0.2.0` milestone.

[2016-02-19 08:45] kunalkushwaha commented on #151
I will be happy to make PR, if no one is working on this.

[2016-02-19 09:00] vdemeester commented on #151
@kunalkushwaha The idea is stated in the roadmap : https://github.com/docker/libcompose/wiki/0.2.0-Milestone-Project-Page ; and the idea is to update the output when doing that :wink:.

[2016-02-22 08:15] vdemeester opened #155 "Revamp cli with spf13/cobra"
Switch to [spf13/cobra](https://github.com/spf13/cobra) for the CLI and make it more `docker-compose` like.
- docker-compose

[code]
- libcompose

[code]

[2016-02-22 08:23] vdemeester opened #156 "Implement `config` subcommand"
Add the `config` subcommand for libcompose.

[code]

Here is how it looks like

[code]

Probably wait for #155 to be closed.

[2016-02-22 09:37] kunalkushwaha opened #157 "Proposal: ``libcompose-cli service`` commands (Experimental)"
## Background
docker compose/libcompose helps in managing multi-container apps. But for managing such apps, user need to know, config of each app and its location.
Whereas IMHO, once application instance is created, it belongs to **Docker System**. So it management should be independent of location of config file, which was used for its creation.

## Current Solutions
Solutions like UCP, Kitematic

[2016-02-23 00:18] bfosberry opened #158 "nil panic error"
I get this error when building custom ServiceConfigs, either there is an internal bug, or something I'm configuring in my service config is not valid.

Any ideas?

[code]

[2016-02-23 00:25] bfosberry opened #159 "Support loggerfactory for building images"
I'd rather not capture and lock stdout :P so what would work better for me is to support logger factories for creating loggers for capturing build output for specific services or images. I'd like some guidance on how this would integrate well. My initial thoughts are to tie into a new BuildLoggerFactory specifically, for https://github.com/docker/libcompose/blob/master/docker/builder.go#L60, and d

[2016-02-23 02:44] bfosberry commented on #158
I managed to track this down, this happens when I create multiple projects with the same name :P

[2016-02-23 03:18] bfosberry opened #160 "project.Log does not push logs"
I'm using a custom LoggerFactory within my project context. The factory.Create function is called, and a logger returned, however Out and Err are never called on the logger despite the container having logs, and me calling the proj.Logs function.

[code]

[2016-02-23 03:28] bfosberry commented on #160
for reference my context:

[code]

[2016-02-23 03:41] bfosberry commented on #160
Switching to ColorLoggerFactory doesnt help :(

[2016-02-23 07:36] vdemeester commented on #159
@bfosberry yeah, I used `os.Stdout` for weird backwards compatibility but I should have had a FIXME there to say "find a clever way to log that". So yeah, sounds good to me :wink:

[2016-02-23 07:44] vdemeester commented on #158
@bfosberry hum, thanks for the report, marked it as bug as it shouldn't painc :stuck_out_tongue_closed_eyes:

[2016-02-23 14:36] bfosberry commented on #160
thanks!

[2016-02-23 14:39] bfosberry commented on #159
Cool! I'll need to find a way to trim out all stdout printing and override internal loggers

[2016-02-23 15:46] bfosberry commented on #158
Yeah,I am sure I should not be doing that :P, thanks!

[2016-02-23 16:37] bfosberry opened #161 "Support image push"
What are your thoughts on a form of image push with AuthConfig support? Is that something which should be added? Where would that fit?

[2016-02-23 16:57] vdemeester commented on #161
@bfosberry I would maybe like that (or talk about it), but until 1.0.0, I just want to concentrate compatibility with docker-compose. :stuck_out_tongue_closed_eyes:

[2016-02-23 18:58] bfosberry commented on #161
Sure, I need this, either in libcompose or on top of it on my end, so if it's something that would fit in the project interface, or as a new image concept, I can add support for this

[2016-02-24 00:41] kunalkushwaha commented on #157
@vdemeester Please share your thoughts on this.

[2016-02-24 07:46] vdemeester commented on #157
hey @kunalkushwaha, as much as I would like it or talk about it, until 1.0.0, I want us to focus on being full compatible with docker-compose. But I'm more than open to discuss about that and if we would implement it here.

For reference, https://github.com/docker/compose/pull/656 and https://github.com/docker/compose/issues/1953 which is *on the way* (https://github.com/docker/libcompose/issues/1

[2016-02-26 02:13] juliangamble opened #162 "command.go upCommand doesn't implement --abort-on-container-exit"
Docker Compose has a feature `docker-compose up --abort-on-container-exit` which is particularly useful for running integration tests - where you need to watch the container shut down and get the exit code.

I'm trying to run the equivalent in Rancher, [and ran into an error](https://github.com/rancher/rancher/issues/3687): `Incorrect Usage`

They haven't implemented it yet - because [it isn't imp

[2016-02-29 11:11] bfosberry commented on #160
Did you push a fix for this? I see some logs coming though. Trying to figure out if/what I changed

[2016-03-01 11:11] d-Pixie commented on #158
This also happens when you have the wrong name for dockercfg_service in your steps definition. I had `dockercfg_service: gcr_dockercfg` in steps while defining the service as `dockercfg_generator` in services and got the same error.

[2016-03-01 11:58] bfosberry commented on #158
Hey, I am assuming you are using jet, which does not use this repo yet, I'll create a bug in our system for you, but any issues you have are not related to this repo.... Yet

[2016-03-01 15:56] bfosberry commented on #160
I've noticed this is somewhat intermittent, unsure what the trigger is though :P

[2016-03-01 19:05] bfosberry commented on #158
Hey @d-Pixie, I tracked this in our system, if you need to keep track if it please reach out to support@codeship.com with the bug id 114803397, just to keep this project clean.

[2016-03-01 19:29] d-Pixie commented on #158
No worries :) I found the error quick enough, but I'm guessing it's not
intended behavior for that case and a better error message might be in
order.

/Jonas
On 1 Mar 2016 20:05, "Brendan Fosberry" <notifications@github.com> wrote:

[2016-03-01 19:50] bfosberry commented on #158
Totally, thanks for reporting it!

On Tue, Mar 1, 2016 at 1:29 PM Jonas Schubert Erlandsson <
notifications@github.com> wrote:

[2016-03-01 20:32] d-Pixie commented on #158
Np :)
On 1 Mar 2016 20:50, "Brendan Fosberry" <notifications@github.com> wrote:

[2016-03-02 22:40] F21 opened #166 "How do I set the docker host when using libcompose?"
I am following the example in `README.md`:
[code]

I tried creating my own `EnvironmentLookup`:

[code]

However, `EnvLookup` is never called. What's the correct way to set the docker host (within my go code, rather than using the `DOCKER_HOST` environment variable)?

[2016-03-03 03:14] F21 commented on #166
The trick is to set the client factory:

[code]

[2016-03-03 03:14] #166 closed

[2016-03-03 04:08] F21 opened #167 "Output issues on windows"
I am running `project.Up()` against a brand new docker host. Libcompose is being used to as part of a program that runs on windows.

When the docker daemon pulls an image, output lines are not replaced, but a new line is created:

[code]

[2016-03-03 05:26] kunalkushwaha opened #168 "``libcompose-cli down`` should also remove containers"
Behaviour should be consistent with ``docker-compose down``

[code]

[code]

[2016-03-03 05:58] F21 opened #169 "Default listener is writing directly to stdout"
In https://github.com/docker/libcompose/blob/master/project/listener.go#L71, the default listener writes directly to stdout (tested on windows and ubuntu).

I am writing a cli app that uses libcompose to talk with the docker daemon and the output from the listener pollutes the output of my cli app.

Is it possible to redirect the output of the listener into memory so that I can write the output of

[2016-03-03 07:21] vdemeester commented on #169
Hi @F21, thanks for the report. It's on *its way*, there is some refactoring to come in this area :stuck_out_tongue_closed_eyes:.

[2016-03-03 07:36] vdemeester commented on #166
@F21 yes :+1:
We will need way more documentation at some point :stuck_out_tongue:

[2016-03-03 09:52] vdemeester commented on #168
Makes sense, currently `Down` does the same as `Stop` on libcompose… this has to change :wink:

[2016-03-07 00:13] F21 opened #171 "Is project.Up() synchronous?"
I am running `project.Up()`, and then after that, using the `engine-api` package to query the daemon to see which containers have exited and failed.

I am seeing some asynchronous looking behaviour:

For example: Sometimes, it returns an empty array (maybe the containers were not yet started before `client.ContainerList()` ran?

Sometimes, I get 1 container (but there should be 2).

If `project.Up

[2016-03-07 00:25] F21 commented on #171
I am suspecting this is the case because if I add `time.Sleep(5 * time.Second)` before the `engine-api` call, it works correctly.

[2016-03-07 00:58] kunalkushwaha commented on #171
Yes it it async. You need to wait for event [project.EventContainerStarted] (https://github.com/docker/libcompose/blob/96f52273d4132d80502409e5431ce44b14172913/project/types.go#L13)

https://github.com/docker/libcompose/blob/master/docker/container.go#L277

The calling function stack is as below for Up()

c.Up(imageName string) : [container.go#L251](https://github.com/docker/libcompose/blob/master

[2016-03-07 01:08] kunalkushwaha commented on #171
You may want to look for adding listener for your project with [AddListener](https://github.com/docker/libcompose/blob/18211431fd3c9fc49deb0e4937832191ec5b4f5b/project/project.go#L447)

[2016-03-07 03:16] F21 commented on #171
I just did some experimenting with adding a listener to listen for `EventContainerStarted`, however, I am still seeing the same issues. I think this is because the docker daemon will start the container and return immediately rather than wait for the container to start and execute before returning.

I think the best way forward would be to poll for the container in the project (by matching the pro

[2016-03-07 04:25] kunalkushwaha commented on #171
Docker Create/Start/Restart API's can only ensure, if Container is created successfully or not.
But if application within it start asynchronously, Application may fail later.

BTW, Docker Events is also one of the way, you may use.

[2016-03-07 04:40] kunalkushwaha commented on #171
Docker events are not yet available in libcompose. Though it is in roadmap. https://github.com/docker/libcompose/issues/124

[2016-03-07 04:54] F21 commented on #171
Thanks for linking me to that issue. I ended up using polling with a timeout, so that should work pretty well for now, until I can switch over to docker events.

[2016-03-07 04:54] #171 closed

[2016-03-09 01:03] kunalkushwaha commented on #155
Hi @vdemeester have you started working on this? If not, can I give a try?
I have  implemented  kind of ``libcompose-cli config`` with ``spf13/cobra``, but waiting for this PR.

[2016-03-14 10:30] #160 closed

[2016-03-15 10:30] vdemeester commented on #155
hey @kunalkushwaha, I'm back from vacation, sorry for the delay.
I did not start on working on this yet, so feel free to make a PR on it if you have time to work on it :wink: :+1:. Thanks !

[2016-03-19 09:41] F21 commented on #169
@vdemeester Is there anyway I can help get the ball rolling on this one? Maybe the adding a `Listener` field to the context struct passed to `NewProject()`. If there is a listener passed in, it uses it, otherwise it creates a `DefaultListener`. Let me know what you think!

[2016-03-19 23:33] ngtuna commented on #147
Hi @vdemeester , is there any progress on this item ? I'm working on it as well. Considering to add a new `ServiceConfigV2` struct for compose file v2 like this. https://gist.github.com/ngtuna/c84d59b497bca62e2e9f

But I found it's not really convenience to maintain two structs of v1 and v2. How's your thought ?

[2016-03-20 08:16] F21 commented on #169
I just notice `NewDefaultListener()` requires an instance of project, which causes a chicken and egg problem.

[2016-03-20 08:40] vdemeester commented on #147
@ngtuna I'm working on this yeah, but no "public" progress right now :smile:. I'll ping you for early reviews :)

[2016-03-21 04:53] F21 commented on #124
The `--x-networking` flag is now removed. Networks are now automatically created by default: https://docs.docker.com/compose/networking/

[2016-03-21 07:40] vdemeester commented on #124
@F21 Thanks :-) I need to close this issue and split it up to be able to follow the gap and progress better ;-)

[2016-03-21 08:18] F21 commented on #147
@vdemeester Thank you so much for working on this! Is there any timeline for when this might surface? :smile:

[2016-03-21 08:55] vdemeester commented on #147
@F21 I'm hoping at the end of this week :wink:

[2016-03-25 21:34] #131 closed

[2016-03-26 13:53] #34 closed

[2016-03-26 14:45] #132 closed

[2016-03-27 10:59] vdemeester opened #182 "A package for interpolation"
The idea is to extract the `Interpolate` function in a generic way, usable from outside libcompose.

[2016-03-29 01:01] awsmsrc opened #185 "Using extends I got duplicated env variables in the env hash"
Hey folks,

really looking forward to using libcompose. I noticed one issue whereby env variables were duplicated incorrectly in the env hash when using extends. This case also seems to be missing from merge_test.go.

Would love to look into it further but I'm a little busy right now so i provided my test program in case any one wants to repro and look into it

base.yml
[code]

docker-compose.yml

[2016-03-29 06:38] vdemeester commented on #185
Hi @awsmsrc, thanks for the report — will try to investigate and fix it for the 0.2.0 release :wink:

[2016-03-31 09:44] #168 closed

[2016-04-01 05:06] ekristen opened #186 "Documentation for AuthConfigs/RegistryConfigs"
Is there documentation on on how to pass in Auth/RegistryConfig information for libcompose to pull from private repository locations?

[2016-04-02 17:03] vdemeester commented on #152
@kunalkushwaha with current master the output I get :

[code]

The message is not exactly the same, but it's not that far either.

[2016-04-02 17:04] #38 closed

[2016-04-02 17:24] vdemeester commented on #185
After digging a bit this issue, it's because `docker.NewProject(…)` already calls the `Parse` method on the project. This means running `Parse` is not idenpotent..

[2016-04-02 17:25] awsmsrc commented on #185
So this will work as expected if I remove that call?

[2016-04-02 17:28] vdemeester commented on #185
@awsmsrc I would guess so, but I'm gonna still list this as a bug as it feels weird that calling twice `Parse` append environment variables.

[2016-04-02 17:29] awsmsrc commented on #185
yeah and it looks like it's still not getting the env var from the extended file

[2016-04-02 17:30] vdemeester commented on #185
ah, and that too :sweat_smile:

[2016-04-02 17:35] vdemeester commented on #185
@awsmsrc hum actually looking back at the documentation, the `extends` should look more like

[code]

[2016-04-02 18:16] awsmsrc commented on #185
![image](https://cloud.githubusercontent.com/assets/994907/14228242/6312a946-f8c4-11e5-9f9b-52db06024e5b.png)

Right you are, in that case there should probably be some error handling there?

[2016-04-02 18:20] joshwget commented on #185
@awsmsrc Are you running the latest version? Validation was merged recently, and it should (hopefully) catch this.

[2016-04-02 18:20] awsmsrc commented on #185
not updated since adding this ticket

[2016-04-02 18:25] awsmsrc commented on #185
it looks like my bad extends format is still accepted

[2016-04-02 18:35] awsmsrc commented on #185
yip, but should there be an error if that service is not found?

[2016-04-02 18:38] joshwget commented on #185
Yeah, that's certainly a bug!

[2016-04-02 18:39] awsmsrc commented on #185
well my report was a little off but im glad we've found a couple things here :) this project is gonna be very useful for me

[2016-04-02 23:35] joshwget commented on #185
Actually, the absence of an error isn't the full issue either. It looks like libcompose doesn't support passing service names directly to `extends` at all. Docker Compose does, but according to their docs the `extends` key must be a map. I'll try to figure out what the plan is for Docker Compose before implementing it.

[2016-04-04 06:39] vdemeester commented on #185
@joshwget @awsmsrc Ok I fixed the `extends` duplicate environment, but now the multiple compose file is broken :sweat_smile: (the code path is not the same and.. somehow I broke it :sweat: ).

[2016-04-06 13:37] kolis commented on #147
+1 This is a major issue imo

[2016-04-06 17:20] #60 closed

[2016-04-08 05:59] joshwget commented on #113
I don't think this issue is present anymore. #174 should have fixed it.

[2016-04-08 08:19] vdemeester commented on #113
@joshwget yep, tried it out, it is working :+1:

[2016-04-08 08:19] #113 closed

[2016-04-09 21:33] jainvipin opened #195 "cannot unmarshal object into Go value of type []string"
I must be missing something basic here. The latest libcompose (top of the tree with following commit tag):

[code]

When I use the following docker-compose.yml (picked from one of the issue that was discussed earlier):

[code]

Using docker version 1.9.0
[code]

With a libcompose build as above, if a composition is started results into the error:
[code]

DOCKER_API_VERSION is not set, however even

[2016-04-09 21:39] jainvipin commented on #195
Ref #146

[2016-04-11 02:54] yangyuqian commented on #195
Hi,

I compiled the latest libcompose on master branch, and here is head of the git log:
![image](https://cloud.githubusercontent.com/assets/7478577/14415569/53108d40-ffd3-11e5-8d5d-1435583b9d7b.png)

I run "export DOCKER_API_VERSION=1.21" before executing the libcompose-cli and it's still not working:
![image](https://cloud.githubusercontent.com/assets/7478577/14415592/7b976fa4-ffd3-11e5-8cf6-2e6

[2016-04-11 04:35] jainvipin commented on #195
@yangyuqian - seems like you are running into the same issue; may be top of the tree is broken.
It root cause may be similar to what is mentioned in https://github.com/docker-php/docker-php/issues/122 which is due to empty object vs. empty array. I will look more into it tomorrow.

[2016-04-11 07:30] vdemeester commented on #195
@jainvipin @yangyuqian Definitely reproductible, thanks. (It confortes me to enable some sort of *multiple-daemon* testing on the CI).

[2016-04-11 07:40] vdemeester commented on #195
Yes, definitely fixed use the master on `engine-api`. Bumping the version :wink:

[2016-04-11 09:31] yangyuqian commented on #195
@vdemeester Thanks, I'll do more test tomorrow.

btw, the engine-api works correctly with the same daemon(mentioned above, tested with the example in https://github.com/docker/engine-api)

[2016-04-11 09:48] vdemeester commented on #195
@yangyuqian yep, that's why I've update the engine-api vendored in here.. it fixes it :wink:

[2016-04-11 09:50] #195 closed

[2016-04-11 10:40] yangyuqian commented on #195
@vdemeester Thanks, it works now ^_^

[2016-04-11 16:49] jainvipin commented on #195
+1 @vdemeester - tried out the latest, works like a charm
Let me know if I can help adding some testing for 1.9 docker daemon...

[2016-04-12 19:46] jainvipin opened #200 "recompilation doesn't override the bundles/libcompose-cli"
I am trying this on Ubuntu 15.10, and with `make binary` seeing the problem where binary is not reproduced after compilation. Excerpt from the later part of run (to compare the comments from #104) to see if the docker run is not executed with proper mounting.

[code]

i.e. first compilation works, and subsequent ones do not override the binary.

[2016-04-12 21:03] jainvipin commented on #200
As suspected, `docker run --rm -it --privileged -e OS_PLATFORM_ARG -e OS_ARCH_ARG -e DOCKER_TEST_HOST -e TESTDIRS -e TESTFLAGS -e TESTVERBOSE -v "/opt/gopath/src/github.com/docker/libcompose/bundles:/go/src/github.com/docker/libcompose/bundles" "libcompose-dev:deploy" ./script/make.sh binary` works okay...
digging more on what is causing this; will report back

[2016-04-13 15:33] jainvipin commented on #200
working as expected... subsequent runs DOCKER_HOST was being set and Makefile is working as expected:
[code]
I will close the issue.

[2016-04-13 15:33] #200 closed

[2016-04-16 14:35] #36 closed

[2016-04-16 14:42] vdemeester opened #204 "Complete `run` command"
Support all flag for the `run` command — right now the support is pretty basic (only `-d` flag is supported) :

[code]

[2016-04-16 14:48] vdemeester opened #205 "Add a version command"
Add a `version` command that would print version information. Something like :

[code]

---

For reference, `docker-compose version` is :

[code]

[2016-04-16 14:50] vdemeester opened #206 "Complete build command"
There is still flag/option to implement for the `build` command : `--pull` and `--force-rm`

[code]

[2016-04-16 14:52] vdemeester opened #207 "Complete up command"
There is still some flags/options to support for the `up` command : `--no-color`, `--no-deps`, `--build`, `--abort-on-exit` (see #162), `--timeout` and `--remove-orphans` .

[code]

[2016-04-16 14:55] vdemeester opened #208 "Support .env files for environment variables"
Compose 1.7.0 comes with the following feature :

We should add the support for it. On cli side it feels pretty easy to do ; on api side, we probably should provide an environment lookup implementation that does that.

[2016-04-16 14:57] vdemeester opened #209 "Complete rm command"
<del>Add support for `--all` for the `rm` command.</del>

by docker-compose run. This will become the default behavior in the next
version of Compose.

Make sure `rm` command (and related method in `Project`) removes one-off container too (the one started with `run`).

[2016-04-16 15:00] vdemeester opened #210 "Complete logs command"
Add support for more flags/options for the `logs` command, and set the same behaviour as the compose one :

[2016-04-16 15:01] vdemeester opened #211 "Implement `exec` command"
Add an `exec` command for executing a process in a running container.

[code]

[2016-04-16 15:02] vdemeester opened #212 "COMPOSE_FILE environment variable can contains multiple files"
separated by the host system's standard path separator (: on Mac/Linux,
; on Windows).

Right now, I think `libcompose` assumes the `COMPOSE_FILE` environment file is only refering to one file… We should support the same as `docker-compose` does :angel:

[2016-04-16 15:04] vdemeester opened #213 "Complete pull command"
Add support for `--ignore-pull-failures` flag/option for the `pull` command.

[2016-04-16 15:21] vdemeester opened #214 "Support build args in composefiles"
You can now pass arguments to a build if you're using the new file format:

[code]

[2016-04-16 15:26] vdemeester opened #215 "Implement `events` command"
There's a new events command for monitoring container events from the application, much like docker events. This is a good primitive for building tools on top of Compose for performing actions when particular things happen, such as containers starting and stopping.

[code]

[2016-04-16 15:27] vdemeester opened #216 "Support for depends_on options"

[2016-04-21 05:20] joshwget commented on #182
Do we still want a separate package for interpolation after the project/config split? If we do decide to move interpolation out of the config package, I think it would also make sense to move validation into its own package.

[2016-04-21 07:24] kunalkushwaha commented on #155
Since same flag for command and subcommand is not supported by spf13/Cobra framework https://github.com/docker/libcompose/pull/198#discussion-diff-60447601L24 , Should we concentrate on making cli outputs  similar to docker-compose?

Meanwhile, will look for solution in cobra for same.

[2016-04-25 02:56] jainvipin opened #224 "flexing up libcompose to call other pluggable elements?"
@vdemeester and other matinainers - just wanted to run by you if there is any interest in taking a PR that does following:
https://github.com/jainvipin/libcompose/tree/deploy/deploy

It provides a very simple hook along the following lines
https://github.com/jainvipin/libcompose/blob/deploy/cli/app/app.go#L42

Feel free to close the issue if this looks like a hack/noise...

[2016-04-25 06:05] joshwget commented on #224
I might not completely understand your use case, but I think something equivalent can be accomplished without the hooks. You can create custom commands while reusing the existing command definitions from `cli/command/command.go`. Then you can swap out the command action with whatever you'd like while leaving the rest of the command the same. In your case, you could create a new action that does th

[2016-04-26 08:12] jainvipin commented on #224
@joshwget - thanks, few follow-ups:
- The intent of the command itself is same (up/stop/scale/etc.) but the network policy creation is automated alongside running the application composition. Thus keeping the same Ux is a desire because that semantics doesn't change when composition is run/stopped/scaled/etc.
- Modifying the command in `cli/command/command.go` would require that project/services/e

[2016-04-26 18:02] jamespacileo opened #228 "Different app image names between docker-compose and libcompose"
Hi just stumbled on this one.

For a project in a folder such as "example-app" with an app called "app",

docker-compose names the image `exampleapp_app`,
while libcompose names the image `example-app_app`.

I want to thank you for libcompose as it's the only way to get interactive mode working on Windows!

If this change gets in then I can magically start using libcompose with Docker Native for W

[2016-04-26 18:23] vdemeester commented on #228
@jamespacileo Hi :) Thanks for the report. I noticed that (along with the name in the logs), working on a quick fix :wink:.

Added to the 0.3.0 milestone :wink:

[2016-04-26 19:35] jamespacileo commented on #228
👍 thank you! :)

[2016-05-02 03:16] mkamlesh commented on #147
Hello, are there plans to resolve this issue in very near future?

[2016-05-02 07:27] vdemeester commented on #147
@mkamlesh yes @joshwget (and I) is working on it :wink:. Should definitely land for 0.3.0.

[2016-05-03 18:55] #205 closed

[2016-05-04 12:33] #228 closed

[2016-05-06 16:49] #206 closed

[2016-05-07 11:00] #95 closed

[2016-05-08 08:54] #213 closed

[2016-05-13 10:01] surajssd opened #261 "not able to run example program main.go"
Trying to run https://github.com/docker/libcompose/blob/master/example/main.go and getting error as:

[code]
on compose file

[code]

[2016-05-13 14:42] rajeevb2 opened #262 "Bug in collectContainers()"
The code in service.go (collectContainers) does not work when Names has multiple strings of type /a/b and one or more of type /a. I ran into this.
Current code:
		// Compose add "/" before name, so Name[1] will store actaul name.
		name := strings.SplitAfter(container.Names[0], "/")
		result = append(result, NewContainer(client, name[1], containerNumber, s))

Fix:
                for i, val := ran

[2016-05-13 21:06] vdemeester commented on #261
hey @surajssd,

Thank u for the report. There has been some changes API wise and I did not yet the documentation and examples. Sorry about that, I'll work on it soon.

You can take a look at `project/interface.go` to see what is needed :wink:

[2016-05-15 08:15] iankronquist opened #263 "libcompose may not handle shm_size correctly"
A `docker-compose.yml` file errors with libcompose but succeeds with `docker-compose`. This may have to do with the handling of shm_size.
[code]
libcompose commit 8ee7bcc364f7b8194581a3c6bd9fa019467c7873 (Thu May 12).

I have a simple docker-compose.yml file:
[code]

I can easily bring this up with the docker-compose command:
[code]

Great, let's try to reproduce this with libcompose:
[code]
Compi

[2016-05-15 08:55] vdemeester commented on #263
hey @iankronquist,
Thank you for the report :wink:. You're right it fails miserably on 2 points : it did not deserialize it right (the `shm_size`) and it panic where it shouldn't have..

I'll take a look at it soon, and I've added it to the next release :)

[2016-05-15 18:05] iankronquist commented on #263
@vdemeester, actually I think the panic come from my code which panics for error handling because I reduced it to a minimal proof of concept. Thanks for the quick reply.

[2016-05-17 05:28] kunalkushwaha commented on #263
I tried to reproduce this issue, but it works fine at my machine.
Used same libcompose code with docker 1.11.1 version.

What is your docker-engine version?

[2016-05-17 17:33] mkamlesh commented on #147
Thanks @vdemeester !! What's the estimated date for 0.3.0 release?

[2016-05-17 18:05] vdemeester commented on #147
Should be somewhere in June

[2016-05-18 04:05] mkamlesh commented on #147
Great. Thanks!

[2016-05-18 04:21] surajssd opened #266 "unmarshall error when environment variable given as int"
I am tryig out libcompose using a docker-compose.yml file as shown below, the application works fine when running using `docker-compose up` with the same compose file. But when using libcompose I get error as: `ERRO[0000] Failed to unmarshall: Cannot unmarshal '6379' of type int64 into a string value`

#### Software Versions:

[code]

docker-compose.yml
[code]

And the source code that I am runnin

[2016-05-18 05:21] joshwget opened #267 "Better examples"
People who are checking out libcompose for the first time might not immediately see its full value. Having a few good examples can go long way with showing some of its potential uses.

On a related note, it might be worth mentioning in the README where libcompose is currently being used (especially since I'm seeing it being used in a few new projects :smile: )

[2016-05-18 10:34] vdemeester commented on #267
I definitely agree. I've added a "documentation" overall in my TODOs, including `godoc` and inline example and more standard documentation on how to use and integration with libcompose and such ! :+1:

[2016-05-18 19:52] iankronquist commented on #263
@kunalkushwaha
` docker --version
Docker version 1.9.1, build 78ee77d/1.9.1`
I'm just using the CentOS 7 Docker package, no EPEL Docker specific repositories.

[2016-05-19 00:36] kunalkushwaha commented on #263
I think that is the problem. There were few significant changes in [1.10 release](https://github.com/docker/docker/releases/tag/v1.10.0).

``shm_size`` was also added in 1.10 release.

Upgrading docker engine will fix your problem.

[2016-05-19 04:32] iankronquist commented on #263
@kunalkushwaha I'm confused. If it doesn't exist in Docker 1.9 why would I be getting that error?

[2016-05-19 08:24] kunalkushwaha commented on #263
@iankronquist I guess, I misinterpreted the release notes, from 1.10, the modification of shm_size was allowed.

But yes, with 1.11 release I am not able to reproduce it. Need to dig into code, serialization of shm_size must have been fixed. I guess something like https://github.com/docker/docker/blob/14b5a50f0a95a2b8f3ed7ab7469bbab02189a09c/daemon/daemon_unix.go#L245

[2016-05-20 08:31] #216 closed

[2016-05-21 17:07] vdemeester commented on #266
Should be fixed by #270

[2016-05-21 17:07] #266 closed

[2016-05-22 03:40] rajeevb2 opened #271 "How do I get console messages as the containers start?"
With docker-compose up, you get all the log messages from each of the containers started.

With libcompose (up), I only get 1 line that the container was started.

How do I get these log messages. Here is the snippet of the code that implements Up

        project, err := docker.NewProject(&docker.Context{
                Context: project.Context{
                   ComposeFiles: []string{fileName

[2016-05-22 09:08] vdemeester commented on #271
Hi @rajeevb2,

as libcompose is a library some commands are a little bit different that the *command-line* counter part. And this is the case for `Up`.

`project.Up` will do all the things `docker-compose up` does but will not print logs by default. To do so, you need to call `project.Log`. You can look how it is done for the *command-line* here for inspiration: https://github.com/docker/libcompos

[2016-05-22 17:58] rajeevb2 commented on #271
Thanks @vdemeester,

I tried adding
        project.Log(true, c.Args()...)
after the up, but it does not display the logs created when the **instances are created**.

I did look at the cli for inspiration and could not figure out how to enable this.

[2016-05-22 18:10] joshwget commented on #271
I'm actually having the same issue. Calling `Up` followed by `Log` isn't exactly the same as logging as each container is started. libcompose used to behave the latter way, but as of [this commit](https://github.com/docker/libcompose/commit/426597a6f5286c42b266334f0576970b8b569451) it behaves the former way. I think there are use cases for both of these, so this should probably be configurable in

[2016-05-22 18:18] vdemeester commented on #271
Hum.. It feels a little weird (I'm not sure what is different) but I think I might know as logs is not yet "dynamic" as in compose..

Ideally (and in the near future) we could call p.Log before p.Up or anything and it should log anything happening..

[2016-05-22 18:57] rajeevb2 commented on #271
@joshwget
I manually undid the changes related to Log in context.go and containers.go and it still didn't print the log messages on stdout. Is there something else to setup?

@vdemeester
Enabling "create" logging is very important. I had to run docker-compose to get the logs. I would rather use libcompose.

[2016-05-23 06:42] vdemeester commented on #271
@rajeevb2 by "create" logging you mean have the logs "live" while it is been creating ? if yes, then this should be fix in 0.3.0 with some refactoring on the `Log` methods and events 😉

[2016-05-23 08:13] vdemeester commented on #214
libcompose can read this fine. What is left to do is taking care of those args :angel:

[2016-05-23 08:25] #261 closed

[2016-05-23 14:31] rajeevb2 commented on #271
@vdemeester. Thanks. Do you know when this would be fixed? I am happy to test this.

[2016-05-23 16:59] shouze commented on #147
@vdemeester Hi, looks to be done on [your libcompose fork master branch](https://github.com/vdemeester/libcompose), that's it? How could I help you with @joshwget to make things move forward?

I would love to use asap an upgraded version of libcompose to run v2 compatible services within rancher for example thus closing https://github.com/rancher/rancher/issues/3973

[2016-05-23 17:06] vdemeester commented on #147
@shouze it's already in current master (parsing and populating the internal struct), but there is still some bugs and stuff that are not supported (like networks and volumes) for now.

[2016-05-25 05:30] joshwget commented on #167
Do you still see this issue in newer versions? I was having the same problem with RancherOS before libcompose switched to engine-api.

[2016-05-25 17:00] shouze commented on #147
@vdemeester how can I help on either network and volumes? If you open some issues, this way I could take on it.

[2016-05-25 17:10] vdemeester commented on #147
@shouze good idea, I'll open one issue for volumes, on for networks. I was going to take networks one first so feel free to work on the volume part :wink:

[2016-05-25 17:11] vdemeester opened #277 "Composefile v2: support volumes"
Add support for managing volumes for v2 services (meaning for projects that have `VolumeConfig` populated).

[2016-05-25 17:12] vdemeester commented on #277
/ping @shouze

[2016-05-25 17:14] vdemeester opened #278 "Composefile v2: support networks"
Add support for managing networks for v2 services (meaning for projects that have `NetworkConfig` populated).

[2016-05-25 17:34] shouze commented on #277
Thank you, I'm new to the project so maybe I'll have some questions of course. I've cloned the project & digging into it ATM.

[2016-05-25 18:02] vdemeester commented on #277
@shouze no problem :wink: If you're on IRC, feel free to ping me :wink:

[2016-05-26 14:45] #214 closed

[2016-05-27 02:25] kunalkushwaha opened #279 "libcompose-cli not working with docker-beta."
docker-compose works fine but libcompose-cli could't connect to docker daemon.
Is there any environment variable need to be set?

[code]

[2016-05-27 04:23] kunalkushwaha commented on #279
The TLS certificate path need to be set. Any idea, where are TLS certs for docker-beta ?

[2016-05-27 09:07] #215 closed

[2016-05-27 20:37] dansteen opened #282 "Missing an Exit Event to trigger when a container/service exits"
It looks like there is no "Exit" event that triggers when a container exits.   I do see a "Stop" and a "Kill" event, but those only trigger if the stop or kill action is taken on the container, not when the container exited by itself.  Am I missing something somewhere?

Thanks!

[2016-05-27 20:45] vdemeester commented on #282
@dansteen yes, the events libcompose emits are related to libcompose objects (around services and projects). If you want container event, you need to subscribe to docker events. There is now the method `project.Event` that allow to do that on container for the current project (and the specified services if any).

But we might want to include some more events, maybe. /cc @joshwget

[2016-05-27 21:10] joshwget commented on #282
If it'd be useful for someone I think adding more events would be fine. We don't have to necessarily use them in the events CLI command if we add events that Docker Compose doesn't show.

[2016-05-27 21:47] dansteen commented on #282
My goal is to have a more "controlled" run of docker-compose, where each stage will wait for dependencies to be ready prior to moving on, and will also detect exits with "bad" exit codes.  This would allow easier incorporation into continuous integration tools (like jenkins).

[2016-05-27 21:56] joshwget commented on #282
@dansteen I'd definitely be interested in chatting about this more. We use libcompose as part of our init system in RancherOS, so these types of features would be very useful for us (some of which we've already implemented). Note: I don't what or if any of this should end up in libcompose since we're striving to have compatibility with Docker Compose.

[2016-05-29 03:08] dansteen commented on #282
@joshwget Sure! Basically, we are starting up a bunch of applications, some of which have dependencies.  We only want to start a dependent application after all of the applications it requires have started and/or run successfully.   Some applications will be services that need to run continuously, and some will be one-off commands that do some configuration or take some action or whatever and then

[2016-05-30 04:41] kunalkushwaha opened #288 "'libcompose-cli up' creates project with undefined links"
With reference to docker compose file as below.

[code]

``libcompose-cli up`` should fail, as ``kk`` is undefined. But it creates the project.

This behaviour is not similar to ``docker-compose`` which prints error and stop.

[2016-06-01 10:17] bodymindarts opened #291 "build: path not supported"
[code]

won't parse correctly due to [this line](https://github.com/docker/libcompose/blob/master/config/merge_v2.go#L189) even though it is correct v2 [syntax](https://docs.docker.com/compose/compose-file/#build)

[2016-06-01 10:59] vdemeester commented on #291
@bodymindarts Thanks for the report. I'm currently fixing a bunch of parsing errors, this one is taken care of in one of my branch and there will be a PR really soon :wink:

[2016-06-02 09:06] #291 closed

[2016-06-02 09:19] kunalkushwaha commented on #288
Closing the Bug, since its fix is merged.

[2016-06-02 09:19] #288 closed

[2016-06-02 16:40] vdemeester opened #293 "Flaky Test : RunSuite.TestScale"
Failing some times on master or any PR really (sporadic but it happens)

[code]

[2016-06-02 16:42] vdemeester commented on #147
The parsing should be almost OK. What is missing still:
- Validation as we do on v1 (using schema)
- Networks & Volumes management, PRs to come from me and @shouze

[2016-06-02 17:23] shouze commented on #147
@vdemeester I'm a bit late for Volumes but no worry I don't give up ;)

[2016-06-04 06:01] rajeevb2 commented on #271
@vdemeester. I was able to get logs to work. I did not initialize loggerFactory in Context. Once I did that it worked.

[2016-06-04 06:01] #271 closed

[2016-06-04 06:08] rajeevb2 opened #295 "How do I call container operations"
With code below I can only call ID(), Name() and a couple of others. I would like to call all the methods in container.go (like Run, etc). How do I do that?

[code]

[2016-06-04 06:33] vdemeester commented on #295
@rajeevb2 yeah for now you can't :sweat: However this will be possible at some point as `Container` and `Service` will be refactor a bunch (and thus we'll probably make a better/clearer `Container` interface).

[2016-06-04 13:31] rajeevb2 commented on #295
@vdemeester: I got it to work by changing project/service.go, docker/service.go, container/service.go. This is somewhat ugly, so I will wait for you to refactor :-)

[2016-06-05 02:41] janeczku opened #296 "Environment variables specified as dictionary keys w/o value get set to <nil>"
docker-compose.yml:

[code]

Result:

[code]

Result:

[code]

Expected:

Environment variables with only a key are resolved to their values on the machine Compose is running on (https://docs.docker.com/compose/compose-file/#environment)

[2016-06-06 14:35] surajssd opened #298 "libcompose fails as getaddrinfo failed"
Docker Compose works but libcompose fails in all apps as `getaddrinfo failed`.

I am using following docker-compose file:
[code]
and envs file
[code]

libcompose version
[code]

Using libcompose

[code]

Using Docker-compose
[code]

[2016-06-06 14:41] surajssd commented on #298
Additional info:

docker version
[code]

docker-compose version
[code]

[2016-06-06 14:41] surajssd commented on #298
Another example:

Using following docker-compose file:
[code]
and envs file

[code]

Using libcompose it fails:
[code]

Using Docker-compose it works
[code]

[2016-06-07 23:08] joshwget commented on #296
This was fixed by #297 and should be working as expected on master. Ping @vdemeester.

[2016-06-08 03:44] rajeevb2 commented on #295
@vdemeester: I am going to close this since I was able to get past this but will wait for your refactor.

[2016-06-08 03:44] #295 closed

[2016-06-08 03:47] rajeevb2 opened #299 "How do I order service calling and add delays as the services come up"
With docker-compose, I am able to bring up a complex site. With libcompose, the services are brought up too quickly and one of the apps (a legacy app) comes up ahead of the DB..

Is there a way to add delays between services and order the services as you up the project?

[2016-06-08 16:41] joshwget commented on #299
Similar to Docker Compose, the `depends_on` key can be used to set a custom ordering for services being brought up. If you specify a link between your app and the database, that should also affect the order.

As for adding a delay between services, I don't think this is something that Docker Compose supports yet. If they do add it in the future, we'll be sure to add it!

[2016-06-09 15:05] rajeevb2 commented on #299
@joshwget Thanks. Here is my problem. I have a yml file that works on docker-compose and fails with libcompose. I originally thought the services were coming up too quickly and I put delays libcompose (by editing the code) and  it still fails. Now I am thinking the issue could be because of the "net:" attribute implementation. Is this implemented in libcompose?

[2016-06-09 18:18] joshwget opened #303 "Exit status"
Rather than returning 0 regardless of whether a command fails or succeeds, libcompose should match the Docker Compose exit status.

[2016-06-09 18:30] vdemeester commented on #303
@joshwget definitely :angel:

[2016-06-10 05:50] joshwget commented on #299
We do support the `net` key, so I think the issue is likely somewhere else. Would you mind posting the full Compose file?

[2016-06-10 08:28] kunalkushwaha opened #305 "[Proposal] Code refactoring for async commands."
With reference to https://github.com/docker/libcompose/pull/290#issuecomment-224812179

Commands like ``start``, ``up``, ``rm``, ``down`` etc, which result in async action and result obtained not in context of command execution.
The error handling and result based actions are currently performed within functions with no clear patterns. Since [Project Events](https://github.com/docker/libcompose/bl

[2016-06-10 09:41] vdemeester commented on #305
I'm not sure I completely follow the explanation/example but yeah refactoring is needed. The first I'm working on though is the `Container` struct.

[2016-06-10 14:31] rajeevb2 commented on #299
@joshwget, here is the compose file...If I bash into ofbiz container and do a "telnet localhost 1521", it works with docker-compose up and fails with "connection refused" with libcompose. I have this working on other apps that don't use the net key...

I don't have the latest libcompose -- do you know what parts of the code implement net key, I can check if they are the same?

oracle:
  privileged

[2016-06-10 16:52] joshwget commented on #305
@vdemeester Can we create a separate issue for refactoring around `Container`? I'm just curious what the high-level goals are, particularly with respect to the `Container` project interface.

[2016-06-10 16:57] joshwget commented on #299
There was actually a brief period after v2 support landed when `net` was broken. Can you try again with the latest libcompose?

[2016-06-10 23:52] rajeevb2 commented on #299
@joshwget I am using 0.3.0-dev

[2016-06-12 10:19] rajeevb2 commented on #299
@joshwget it appears trunk version fixed the net issue. i had picked up a version on May 11 and this new version from June 10 appears to be a lot better. I suggest you bump up the version number. Also, I implemented an "Exec" feature like docker exec -it ... bash. I can send you the code or you can guide me on how to checkin. Might be a useful feature, even though docker-compose does not have this

[2016-06-12 10:19] #299 closed

[2016-06-12 17:16] joshwget commented on #299
`docker-compose exec` actually does exist! There's already an issue open for it (#211), so the contribution would definitely be welcome.

[2016-06-12 17:47] rajeevb2 commented on #299
@joshwget Should I send you a gist of changes? What is the best way to send the mods?

[2016-06-13 05:57] kunalkushwaha commented on #305
Sorry for not clear example.

Basically instead of handling event based action in callbacks or deep under some functions,  actions should be taken from main function of that functionality.

e.g. In ``Log()``, "die" , Event can/is handled in service.go, which works well. But for functions like ``Up()`` Where error or event, which ever comes first, different actions need to be taken. If some channel

[2016-06-13 09:36] awsmsrc commented on #185
hey @vdemeester what is the status on this issue now?

[2016-06-14 23:59] dansteen commented on #282
As a note, I've got initial code that covers all of the above points here: https://github.com/dansteen/controlled-compose

There is still a lot more to do, but it seems to work fairly well.   As a note, it does not look like the names of the services are picked up and added to the network "aliases" list (per the first paragraph here: https://docs.docker.com/compose/networking/).  Is there somethin

[2016-06-16 11:00] vdemeester commented on #282
https://github.com/docker/libcompose/pull/294 :angel:

[2016-06-17 15:32] dansteen commented on #282
Cool!  I'm going to close this issue since you guys added a way to get those events.  Thanks!

[2016-06-17 15:32] #282 closed

[2016-06-18 06:11] #296 closed

[2016-06-18 06:21] joshwget commented on #33
We moved over to [candiedyaml](https://github.com/cloudfoundry-incubator/candiedyaml) (Apache) a while back to avoid this issue.

[2016-06-18 06:21] #33 closed

[2016-06-18 06:29] joshwget commented on #72
Fixed by #99

[2016-06-18 06:29] #72 closed

[2016-06-20 13:55] vdemeester commented on #161
See docker/compose#3595, this will be implemented in the next release

[2016-06-20 14:00] vdemeester opened #308 "Add bundle command"
A new `bundle` command appeared in `docker-compose` 1.8.0. Works with docker/docker#23522

[code]

See docker/compose#3595

[2016-06-20 14:01] vdemeester commented on #209
Updates: I think now it has become default, I'm not sure if `--all` is there

[2016-06-22 21:46] dansteen opened #311 "Building from compose file does not match behavior of docker-compose"
Hey!

I noticed the following comment in docker/service.go:

[code]

This does not seem to match the behavior of docker-compose which says here https://docs.docker.com/compose/compose-file/#image:

[code]

Is it possible to get this behavior in libcompose as well?

Thanks!
Dan

[2016-06-22 22:18] dansteen opened #312 "build args don't get populated"
Hey!

Thanks so much for your work on this!  I noticed that given the following config:
[code]

The build args don't get populated into the Service config.  This works in docker-compose, and it reads the values of those args from ENV variables per  https://docs.docker.com/compose/compose-file/#args:
[code]

I did notice that if I changed it to this:
[code]

Then it would pass those values into the

[2016-06-23 06:10] joshwget commented on #308
I'm really curious to see where this feature is headed. There isn't much info/documentation available for it at the moment.

[2016-06-23 06:17] joshwget commented on #312
Thanks! I didn't realize this was an option for build arguments.

If you're at all interested in taking a stab at this yourself, this should be a pretty easy fix by mimicking the [similar functionality in environment variable lookups](https://github.com/docker/libcompose/blob/master/project/project.go#L116).

[2016-06-23 12:58] dansteen commented on #312
Ok.  I'll give it a go.  Thanks!

[2016-06-23 16:32] joshwget commented on #155
@kunalkushwaha Any updates on finding a solution? The more I look at moving to Cobra the more I like the idea.

[2016-06-23 16:37] vdemeester commented on #155
@joshwget did not look at it, I'm moving this to 0.4.0 milestone and I'll take a look at the `-f` problem :stuck_out_tongue_closed_eyes:

[2016-06-23 16:41] dansteen commented on #311
Turns out the code for this is mostly already in, it's just explicitly disabled.   Once I removed the explicit disable there seems to be some strange race condition (or map ordering thing?) where sometimes it will complete the build and sometimes it won't.  It seems to hinge on whether it populates Service.Config().Build or not.  I'm looking into it.

[2016-06-23 17:17] dansteen commented on #311
Ok. I figured it out.  docker-compose will print a message and skip service specifications that do not include a "build" section, while libcompose prints a message and fails.   So, given a config file like this:

[code]
docker-compose will print ```org-api-test.migrate.tmp uses an image, skipping``` and move on to the next service.  While libcompose will print ```Specified service does not have a

[2016-06-23 17:22] vdemeester commented on #311
@dansteen cool !! thanks :angel: :+1:

[2016-06-23 17:23] dansteen commented on #311
Heh.  Figured it out.  The "race-condition" turns out to be an issue with my code.   I was explicitly telling it to build images that did not include build components.  I think libcompose is doing the correct thing and failing in this case.  I'll push up a PR for the other part.

[2016-06-23 17:24] dansteen commented on #311
Heh. Figured it out. The "race-condition" turns out to be an issue with my code. I was explicitly telling it to build images that did not include build components. I think libcompose is doing the correct thing and failing in this case. I'll push up a PR for the other part.

[2016-06-24 02:29] #311 closed

[2016-06-24 13:56] #124 closed

[2016-06-24 16:14] rajeevb2 opened #315 "Failed Starting nginx: Error response from daemon: invalid mode for volumes-from: /etc/nginx/conf.d/reverse-proxy.conf"
I picked up the latest libcompose and I am getting an error I didn't see earlier.

It is complaining about:
nginx:
  image: nginx
  ports:
  - 0.0.0.0:80:80
  volumes:
  - /home/vagrant/scripts/reverse-proxy.conf:/etc/nginx/conf.d/reverse-proxy.conf

I don't have a volumes-from verb in the yml at all. Did something change in the syntax for volumes?

[2016-06-26 22:16] joshwget commented on #315
Can you post the full error message?

[2016-06-27 10:42] nickschuch commented on #279
Did you manage to find those files? Im going on that journey now as well.

[2016-06-27 22:46] #312 closed

[2016-06-28 08:16] kunalkushwaha commented on #155
Sorry for late update. It will require a patch in spf13/cobra.

[2016-06-28 08:22] vdemeester commented on #155
@kunalkushwaha can you take a look at https://github.com/dnephin/cobra/ maybe :angel: (used for `docker/docker`)

[2016-06-28 09:00] kunalkushwaha commented on #155
Thanks, Will look into it  :)

[2016-06-30 07:21] kunalkushwaha commented on #155
@vdemeester I think docker/docker have similar issue https://github.com/docker/docker/blob/506234e3f0f6d8f8a0629e09f38dfe96ada025c2/api/client/container/create.go#L53

[2016-07-02 10:56] #278 closed

[2016-07-05 16:33] dansteen opened #319 "networking config v2"
Hey!

Is there something specific that I need to do to get networking config to work in v2?  Using docker-compose, the following config will result in a "default" network config labled after the project name to be connected to the container started up:

[code]

Is there something more than just:

`APIProject.Up(context.Background(), options.Up{options.Create{ForceRecreate: true}}, service_name)`

[2016-07-05 16:36] vdemeester commented on #319
@dansteen given the recent merge of the network v2 support merged, it should work with master yes :wink:. Tell me if it's not working :angel:

[2016-07-05 16:44] dansteen commented on #319
@vdemeester thanks!  I've been keeping an eye on that one 😄 .  It does not seem to be creating any networks or network related items.   If it helps, the actual code I am using is here:  https://github.com/dansteen/controlled-compose/blob/master/cmd/up.go

[2016-07-05 18:15] dustinrc commented on #279
Using libcompose directly within my own code, I was experiencing the same issue. TLS certs were ruled out using curl:
[code]
Explicitly setting `DOCKER_HOST=unix:///var/run/docker.sock` had a positive effect. Quickly searching, it seems the Darwin client [defaults](https://github.com/docker/libcompose/blob/e290a513ba909ca3afefd5cd611f3a3fe56f6a3a/vendor/github.com/docker/engine-api/client/client_d

[2016-07-06 20:46] joshwget commented on #277
@shouze @vdemeester Have either of you started any work on this yet? I'd like to add this feature soon and I'm not sure if I'll be starting from scratch or not :smile:

[2016-07-06 20:48] joshwget commented on #263
@iankronquist @kunalkushwaha This should be fixed on master. Do one of you want to try it out and verify your issue is no longer present?

[2016-07-06 20:53] vdemeester commented on #277
@shouze started to work on it :angel:

[2016-07-07 11:39] shouze commented on #277
@vdemeester ok, I can push the few code I've already produced you can cherry pick any commit if you want: https://github.com/shouze/libcompose/compare/master...277-support-volumes.

[2016-07-07 20:49] joshwget commented on #277
@shouze Is what you have in a complete enough state that it could be put in master? If that's the case maybe we can just get that in and iterate from there.

If not, would you mind if I cherry-pick your commit and finish off the remaining work?

[2016-07-07 20:55] shouze commented on #277
@joshwget not complete enough, would prefer a cherry-pick. Also you probably may have to make 2 PR:
- The first one with the last commit I've pushed to expose yaml volume config like @vdemeester have done with network's one in https://github.com/docker/libcompose/pull/292.
- The second one with volume support implemented.

[2016-07-08 05:56] dustinrc opened #323 "Incorrect merge of service's environment when using map"
Given the two files:
[code]
and
[code]
the expected result is an environment with `alpha=one`, `bravo=four`, `charlie=three` and `zulu=twenty-six`. This is the outcome when using docker-compose, but with libcompose the environment only includes `bravo=four` and `charlie=three`.

If the second file defines environment as a list of strings:
[code]
then the merge is correct.

[2016-07-11 01:48] cmingxu commented on #308
What's the ETA

[2016-07-11 10:34] vdemeester commented on #308
@cmingxu giving the milestone I put in, end of august might be possible. Note that the support of `dab` file are in the `experimental` channel of docker, so the format might still change (in `docker/compose` and thus here too).

[2016-07-11 10:37] vdemeester commented on #293
Should have been fixed by a refacto :angel:

[2016-07-11 10:37] #293 closed

[2016-07-11 10:42] vdemeester commented on #210
This should be fixed at some point with the related PR: https://github.com/docker/libcompose/pull/290

[2016-07-11 10:46] vdemeester commented on #207
- `--build`/`--no-build` are simple to implement, `no-color` and `--timeout` probably too
- `--remove-orhpan` and `--no-deps` a little bit more trick
- `--abort-on-container-ext` is gonna be harder (and depends/is related on/to https://github.com/docker/libcompose/pull/290)

[2016-07-11 10:51] vdemeester commented on #159
I think this one is fixed now (https://github.com/docker/libcompose/pull/163)

[2016-07-11 10:51] #159 closed

[2016-07-11 10:53] vdemeester commented on #157
Now that there is some `service` commands on `docker/docker`, we'll have to see how compose evolves on it, but even though, I'm definitely looking forward to integrate with it somehow :angel:

[2016-07-11 10:54] vdemeester commented on #155
Hum, that suck a little bit :sweat: I'm not sure what to do here, other than trying to see if we can fix this into `spf13/cobra` library :angel:

[2016-07-11 10:55] vdemeester commented on #152
Let's make the message a little closer to `docker-compose` :angel:

[2016-07-11 10:57] vdemeester commented on #151
The idea here would be to add the "remove …" log messages (and make the event in another log level).

[code]

[2016-07-11 10:59] vdemeester commented on #145
I'm assigning myself for now to start working on it and set up a good/sane base for writing them. Then, we'll list what's needed :angel:

[2016-07-11 11:48] vdemeester opened #327 "Enhance test coverage"
Taking comment from #316:

There is 3 axes : unit testing, integration testing and acceptance testing
- [ ] Increase unit coverage : we should have way more unit test than anything else.
  - If something is hard to test, let's refactor it to make it easier to test :sweat_smile:
  - If we feel some thing should be isolated in package (for more compsability), let's do it too (e.g. package `docker` s

[2016-07-11 12:02] cmingxu commented on #308
@vdemeester that would meet our project plan, looking forward to see it , thank you for your response.

[2016-07-11 12:30] vdemeester opened #328 "Make logs/output composable"
Following up #243 _"Remove logrus dependency in the core of the library"_, as a library, should not use a specific logger over an other (logrus here), but let the users of the library choose theirs. If it really needs to log things, it should provide a composable way to do it. 🐼

The basic idea is to make it composable, and be able to pass a `logger` to libcompose when creating a `Project` (using

[2016-07-11 13:54] vdemeester opened #329 "Error management/handling"
`libcompose` should define its own errors (probably an `errors` package 👼) and wrap upstream errors inside them so it easier to handle libcompose errors for user of the library.

See http://dave.cheney.net/2016/04/27/dont-just-check-errors-handle-them-gracefully and http://dave.cheney.net/2016/06/12/stack-traces-and-the-errors-package for ideas :angel:

[2016-07-11 19:14] vdemeester opened #330 "Enhance `godoc` 👼"
The `godoc` for libcompose should be way more verbose (with example of code maybe and some example — either in the form of tests `Example…` or inline).

[2016-07-12 05:06] kunalkushwaha commented on #207
I will try to complete these two first then

[2016-07-12 05:09] kunalkushwaha commented on #157
I agree.
I think this is now not required. The whole idea  services in compose is now available with ``docker service`` command.

[2016-07-13 05:09] dustinrc commented on #279
@kunalkushwaha @nickschuch, does setting `DOCKER_HOST` explicitly help in your case? @vdemeester, is this a change you would want to handle in libcompose, or would it be better to update the default in the upstream client?

[2016-07-13 07:27] vdemeester commented on #279
@dustinrc hum good question… I think we should quickly handle it in `libcompose` for now, and discuss the default on the `engine-api` project :angel:

[2016-07-13 18:56] #262 closed

[2016-07-18 10:08] surajssd opened #335 "support for env_file"
When using env_file in docker-compose file, libcompose panics.

This is `docker-compose.yml` file I am using
[code]

and environment files used in the above `docker-compose.yml` file

[code]

running the application

[code]

libcompose version
[code]

[2016-07-18 16:37] joshwget commented on #335
This should be fixed by #307

[2016-07-18 18:05] joshwget opened #336 "Switch back to go-yaml"
go-yaml now uses an Apache license (go-yaml/yaml#160) so the concerns in #79 should be addressed. There have been plenty of issues with candiedyaml, so it's probably best to switch back to go-yaml.

[2016-07-19 14:06] vdemeester commented on #335
It is fixed (tried it out, no panic 👼)

[2016-07-19 14:06] #335 closed

[2016-07-22 18:37] vdemeester commented on #209
Well, it seems we already remove `OneOff` containers :sweat_smile:

[2016-07-22 18:37] #209 closed

[2016-07-23 09:16] dustinrc commented on #212
I have a commit ready dustinrc/libcompose@16a53f551f6945e847453f6fb2b93f2c912a2546, but there is a side effect that may be undesired (explained in the commit message). Only now did I notice that this project [wants to move to cobra](155) (and viper?), which may handle this problem better. Hold off on this issue or is my change ok to move forward with for now?

[2016-07-26 15:10] vdemeester commented on #147
Once #339 is merged, v2 will be support (in 0.3.0, so in less than a week :wink:)

[2016-07-26 20:57] joshwget opened #341 "Incorrect service rebuilding"
Any service that has a relative volume will always be recreated regardless of whether or not the service has actually changed. The underlying issue is that `docker.Convert` changes the service after the hash has been calculated. This means the service will appear to be out of sync and so recreation is always triggered.

There might be other cases where `docker.Convert` modifies the service config,

[2016-07-27 09:43] vdemeester commented on #341
@joshwget on the *volume* think, I think it was https://github.com/docker/libcompose/pull/339/files#diff-33042a808eb9153e032b7eb06ed82b0eL72 right 👼 ?

Anyway, I feel we should refactor a little bit this part to not update the service config once it's parsed and thus do the different lookup (`ResourceLookup`, …) earlier.

[2016-07-27 18:48] joshwget commented on #341
That's exactly what I was thinking. Maybe this can be done around the same time as moving `docker.Convert` to its own package.

[2016-07-28 06:22] kunalkushwaha commented on #279
@dustinrc Thanks, That fixes issue.
I was trying to look for Cert files, but it is not required. My ``docker-machine`` had set ``DOCKER_TLS_VERIFY=1``, which is required to unset.

@vdemeester I made a PR https://github.com/docker/engine-api/pull/342 in engine-api, as fixing in libcompose, required check for OS or repeat similar files for conditional compiling.

[2016-07-28 07:08] #336 closed

[2016-08-01 16:44] joshwget opened #346 "Incorrect logging for services with 'container_name'"
[code]
Actual:
[code]
Expected:
[code]

[2016-08-03 20:15] james-fitzgerald opened #348 "Volumes are not being prefixed with ProjectName"
I have a docker-compose file that includes a 'volumes' entry at the top level and a number of services. When I create the project passing in ProjectName in the context the services are correctly prefixed with the ProjectName however the volume is not.  This causes problems when mixing use of the libcompose with the docker-compose command line.

Did my best to extract the relevant code to show how

[2016-08-03 20:24] vdemeester commented on #348
@james-fitzgerald https://github.com/docker/libcompose/pull/339 implements v2 and fix this behavior. Should be ready really really soon :angel:

[2016-08-08 11:39] #277 closed

[2016-08-08 11:39] #147 closed

[2016-08-09 15:54] vdemeester commented on #348
@james-fitzgerald could you try it with current master ? it should be handled properly now :angel:

[2016-08-11 05:08] surajssd opened #357 "missing validation for docker-compose v2"
Using following docker-compose file

[code]

I get following

[code]

But for a docker-compose file of v1 like this

[code]

I get errors similar to docker-compose

[code]

[2016-08-11 22:36] bfosberry opened #360 "Support parsing additional compose fields"
We use an extended compose format with additional, unsupported fields. We'd like to be able to pass in a compose file structure with our extended syntax, and provide libcompose a means to deal with these extra fields, and an extended version of the json schema. This way we could use the standard libcompose initializer, and have libcompose pass us back values loaded for custom fields.

I'm imaginin

[2016-08-19 13:52] #212 closed

[2016-08-25 14:06] bfosberry opened #365 "Resolve dependencies on compose up"
`compose up` starts all services and automatically resolves all dependencies between services in the compose file.

`compose up app` with `docker-compose` starts `app` and all of it's dependencies, however with libcompose this only starts `app`

[code]

docker compose version:

[code]

[2016-08-26 02:52] joshwget commented on #365
I thought libcompose used to do this. Perhaps this is a regression.

[2016-08-26 22:37] joshwget commented on #360
Being able to use a custom schema would be great. I'm going to take a look at v2 validation soon, so I might refactor the way schemas are loaded to make it more customizable at the same time. I don't think anything other than this is strictly necessary since custom fields can just be read outside of libcompose.

[2016-08-31 12:41] weitenghuang opened #372 "Should project.NewProject have default EnvironmentLookup?"
I am wondering why`project.NewProject()` function doesn't have default `EnvironmentLookup` while `docker.NewProject()` has [default value](https://github.com/docker/libcompose/blob/master/docker/project.go#L35).

This requires client project needs to copy code from libcompose if it uses `github.com/docker/libcompose/project`: https://github.com/skippbox/kompose/blob/master/pkg/loader/compose/compo

[2016-08-31 12:45] vdemeester commented on #372
Hum right, there is a bunch of attributes we have default value in the `docker` package that we might be able to move in `project` as they (the defaults values) do not depend on docker.

/cc @joshwget

[2016-09-01 03:57] joshwget commented on #372
Yeah, I definitely agree! `project` should have sensible defaults, especially since it's so easy to set these fields.

[2016-09-02 19:35] ansel1 commented on #348
We've tested it (I work with james).  The prefix is working.

[2016-09-03 18:06] vdemeester commented on #348
Cool, I'll close this one then :wink:

[2016-09-03 18:06] #348 closed

[2016-09-03 19:44] bfosberry commented on #365
If someone could provide some guidance for this I could submit a PR for it

[2016-09-03 19:53] joshwget commented on #365
I'm pretty sure I was wrong with my earlier comment. This would definitely be a cool feature to have, although I think there are use cases where someone might not want this functionality. We should have an option to enable/disable this.

@bfosberry I'm not sure which commands this would effect, but I know we'll have to modify `Up` at least.

`Up` takes in a [list of services](https://github.com/do

[2016-09-04 07:35] bfosberry commented on #365
Hmmm...yeah. So default compose behaviour is to bring up all dependent services, so it would make sense for that to be the default here, although if its a flag in a context thats not a big deal especially if it gets documented.

For docker/compose it looks like we just need to take the provided service, get a list of non duplicated services, and send that on. Most project functions take an "includ

[2016-09-04 15:42] bfosberry opened #377 "Allow mutation of services after or during project creation"
I have a need to inject additional volumes and environment variables, as well as edit some port mappings depending on additional configuration parameters.

My current method of achieving this is to cast APIProject -> Project and access p.ServiceConfigs, which is not ideal. My gut reaction is to add a "GetServiceConfig" function to the APIProject interface to allow this, but I'm not happy with expo

[2016-09-06 17:08] joshwget commented on #377
I'm not sure why exposing the `config` package would cause any problems. It sounds like the best solution here.

I've ran into a lot of similar limitations with `APIProject`. I've actually reverted back to using the `Project` struct in our fork of libcompose because it's easier to work with.

[2016-09-06 17:20] joshwget commented on #365
It looks like Docker Compose only allows overriding dependencies for the run command, so we should probably match that behavior. For library use cases, we could allow overriding this for other commands with a flag [here](https://github.com/docker/libcompose/blob/master/project/options/types.go#L37).

I think our dependency logic already matches what you've referenced. We just need to enable it ful

[2016-09-07 20:46] weitenghuang commented on #372
resolved by #378

[2016-09-07 20:46] #372 closed

[2016-09-09 01:04] joshwget opened #381 "No way to specify empty environment variables"
There isn't currently a way to specify empty environment variables for a service. For the following template, I'd expect `TEST` to appear as an empty environment variable.

[code]
[code]

[2016-09-09 12:10] vdemeester commented on #381
@joshwget sounds fair, `docker/compose` creates an empty enviornment variable so this should be considered as a bug.

[2016-09-09 18:51] weitenghuang opened #382 "for config `func parseLine()`, any reason we chose not to use os.ExpandEnv(string)"
I'm curious if we can simply use [`os.ExpandEnv(s string)`](https://golang.org/src/os/env.go?s=961:992#L22) for the same purpose in [`func parseLine()`](https://github.com/docker/libcompose/blob/master/config/interpolation.go#L80)?

[2016-09-09 19:14] joshwget commented on #382
I remember there being some reason I couldn't use `os.ExpandEnv` when I was writing this. I'm pretty sure it related to how errors/warnings are handled, but I'd have to take a look at it again to be certain.

[2016-09-09 19:54] weitenghuang commented on #382
@joshwget thanks, if you find out we can use `os.ExpandEnv`, i am happy to make the change and also help on #381

[2016-09-20 14:54] weitenghuang commented on #382
after further review, it takes more changes and risk to use `os.Expand(string, mapping func (string) string)`, and not really adding additional values.
For example: when using `os.Expand()`, `$$variable` or `$${variable}` the second dollar sign will not be escaped (if mapping is `os.Getenv`, the result will be `variable`, or `{variable}`); hence, we will need to have another closure func to wrap o

[2016-09-20 14:54] #382 closed

[2016-09-21 11:19] rheinwein opened #388 "readComposeFiles should attempt to open all files in the ComposeFiles array before returning an error"
Given a project context, I might want to support a different filename. This is possible via `ComposeFiles`:

[code]

But if this project is missing `my-custom-compose-file.yml`, instead of falling back to `docker-compose.yml`, libcompose returns an error. This happens here: https://github.com/docker/libcompose/blob/4dc70801c9b8bba9c1e20ad887b6266151b7ee21/project/context.go#L60

Instead of returni

[2016-09-21 11:28] vdemeester commented on #388
Although I agree, this is not how `docker/compose` behave :

[code]

But I think this should be configurable somewhere when creating the project (hence the `kind/enhancement` label) : fail in any specified file is not found, or just if all specified file are not found.

[2016-09-21 11:32] rheinwein commented on #388
Ah yeah. I think the current behavior makes the most sense when you are expecting "docker-compose.yml" and then an additional override file. Should specifying completely alternate filepaths (that don't adhere to the main/override pattern) go somewhere else?

[2016-09-21 12:34] vdemeester commented on #388
I don't think so. A "*don't fail too quickly on missing file*" switch is more than fine by me :stuck_out_tongue_closed_eyes:.
/cc @joshwget wdyt ?

[2016-09-21 20:21] joshwget commented on #388
I think a switch would be fine. This could also be handled outside of libcompose pretty easily. If you have a list of filenames you want to check, you could just scan for those and pass the first one found to libcompose. Even the current behavior doesn't necessarily have to be done at the project level, but it makes sense as a default.

[2016-09-21 21:29] rheinwein commented on #388
Yeah, I think you're right. I've already implemented a workaround outside of libcompose where we just scan for available files and then pass them to the project context. Since libcompose should have 1-1 parity with Docker Compose, I'm hesitant to introduce something else that would allow for softer error handling. Closing this for now, but would be happy to implement the switch if more people aske

[2016-09-21 21:29] #388 closed

[2016-09-29 06:52] rheinwein commented on #360
+1 for this. Would it make the most sense to add a custom schema field to `ParseOptions`, given that those options are already passed to `NewProject`? It seems logical to keep all parsing/validation logic in the same place. @joshwget if you haven't started yet, I'm happy to take a stab at this as we need support for custom fields soon-ish. Ideally this would makes switching between V1 and V2 easie

[2016-09-29 17:16] vdemeester commented on #388
@rheinwein @joshwget it seems there is a switch already, called `IgnoreMissingConfig` in the `Context` struct :angel: Didn't know about that one :sweat_smile:

[2016-10-08 12:46] rheinwein commented on #360
After some more thought (and discussion with @aanand), libcompose shouldn't encourage users from using a syntax other than vanilla Docker Compose syntax. If a project using libcompose is dependent on a custom syntax, it's up to that project to store the additional fields and parse/validate them appropriately outside of the compose project itself.

[2016-10-08 20:33] ngtuna opened #393 "vendor script ?"
I can not see the [vendor script](https://github.com/docker/libcompose/blob/v0.3.0/script/vendor.sh) in HEAD anymore. Has it been removed ? I would like to check the revision of some packages libcompose are relying. For example `github.com/docker/docker/api/types/blkiodev`.

[2016-10-08 20:42] ngtuna commented on #393
Got it. Moved to `hack/vendor.sh`

[2016-10-08 20:42] #393 closed

[2016-10-11 03:33] joshwget commented on #381
Fixed by #384

[2016-10-11 03:33] #381 closed

[2016-10-13 21:18] geoffhendrey opened #399 "example doesn't compile"
if I import this "github.com/docker/libcompose/docker/ctx"
and change the first line to this:
project, err := docker.NewProject(&ctx.Context{

then it works

[2016-10-13 21:45] joshwget commented on #399
Yeah, the example often gets overlooked. Want to put in a PR to fix it? :smile:

[2016-10-13 22:17] agerlic commented on #319
@vdemeester it seems libcompose doesn't create the default network like docker-compose :
[code]

[2016-10-16 15:56] vdemeester commented on #399
Ohhhh… we did not revert the example :sweat:

[2016-10-16 16:28] vdemeester commented on #319
@agerlic hum weird, it should create the default network but it doesn't… marking this as a bug :sweat: It doesn't print the *"creation" print*, this is weird too :sweat_smile:. Gotta look into it :angel:

[2016-10-18 14:58] geoffhendrey opened #402 "unable to list services"
I want to list the services in the yaml file. To do this, since I don't see a method capable of it in the APIProject, I must use config.Project as follows, but I get "imports github.com/docker/libcompose/config/: use of vendored package not allowed" when I try to access the config package:

[code]

[2016-10-24 13:17] james-nesbitt opened #407 "Build segmentation fault in github.com/vbatts/tar-split when building"
When building as a library in another application, on Mac OSX (64) the following error occurs

[code]

https://github.com/vbatts/tar-split/issues/37

[2016-10-24 14:56] james-nesbitt commented on #407
solution seeems discovered in the upstream issue

[2016-10-24 14:56] vbatts commented on #407
Seems it is related to the golang compiler version used on darwin.
https://github.com/vbatts/tar-split/issues/37#issuecomment-255763245

updating to `go1.7.3` fixed the issue.

[2016-10-24 14:57] #407 closed

[2016-10-24 14:57] vbatts commented on #407
for the record, it would be good to update the vendored version of tar-split used by libcompose! there are some needed fixes.

[2016-10-24 15:07] vdemeester commented on #407
@vbatts yes, will do 😇 thanks 😝

[2016-10-24 15:40] vbatts commented on #407
:nerd_face:

[2016-10-26 00:13] JayHaoDing commented on #210
@vdemeester #290 and https://github.com/docker/engine-api/pull/315 were both closed. Could you please comment if `tail` option can be supported in libcompose? Thanks.

[2016-10-26 00:37] vdemeester commented on #210
@JayHaoDing yes at some point it will, I just have to find time to work on that again :angel:

[2016-10-28 20:29] joshwget commented on #263
Just tested this and it seems to be working. If anyone encounters any issues around `shm_size`, please open a new issue!

[2016-10-28 20:33] #263 closed

[2016-10-31 02:19] joshwget commented on #402
This code seems fine, so I think this is a pretty general Go issue. Are you sure your environment is setup properly? Is libcompose vendored properly (if you're vendoring)?

[2016-11-01 18:11] geoffhendrey commented on #402
You are right. It was go vendor newbie stuff. Sorry for the bother.

[2016-11-02 01:25] #402 closed

[2016-11-03 17:42] elewis787 commented on #319
Any update on this ? Just started playing with libcompose, but ill try to debug whats going on.

[2016-11-17 22:05] CpuID opened #413 "Project compile error due to cgo multiple definition tcsetattr"
Used `go get` to pull down a fresh github.com/docker/libcompose, as well as github.com/docker/docker, managed to get the below:

[code]

[2016-11-25 12:19] andronux opened #414 "Pass a docker host option to libcompose"
Hello,

is there a way to pass a docker host (docker client) to libcompose on which the commands should be executed?

Because for now, if I'm not wrong, the commands are executed locally. I want to be able to provide a host to libcompose.

Thank you.

[2016-11-29 13:42] ngtuna opened #415 "compose file version 2 without image should have error out"
Hi,

I tried a compose v2 file without specifying image and libcompose still parses.

Expected behavior: Image is required. Should have an error out.

[code]

[2016-11-30 17:30] joshwget opened #416 "Interpolate under 'volumes' and 'network'"
libcompose only performs interpolation under the `services` key. It should also interpolate under the `volumes` and `network` key.

[2016-12-26 10:39] vdemeester opened #421 "Support composefile v3"

[2016-12-27 13:42] #416 closed

[2016-12-27 23:09] tiffanyfj opened #425 "Suffixes not allowed for docker-compose.yml"
Created to address https://github.com/aws/amazon-ecs-cli/issues/1

docker-compose.yml
[code]

[code]

Fix:
Change
[code]
to
[code]

[2016-12-28 02:32] joshwget commented on #421
Compose v3 is pretty different since it's embedded in Docker now. Is the intention to keep Docker Compose as a separate entity as well, or will that be eventually be deprecated?

I'm also not sure if it makes sense to add v3 support to libcompose with [aanand/compose-file](https://github.com/aanand/compose-file) already around.

cc @pradeepto @dnephin

[2016-12-28 06:40] vdemeester commented on #421
@joshwget

It will still be supported by `docker-compose` version 1.10. *v3* is a version of the format. The fact that it is supported by a command on `Docker` doesn't mean other project should not support it. Really I don't see why :sweat_smile:.

And the intention is to re-use `compose-file` to support v3 parsing somehow.

[2016-12-28 07:15] vdemeester commented on #421
You will still be able to use `docker-compose` on a non swarm-mode docker engine (only the `deploy` part will not completely be implemented).

[2016-12-31 10:38] #357 closed

[2016-12-31 10:41] #319 closed

[2016-12-31 10:42] vdemeester commented on #415
Closed by #423

[2016-12-31 10:42] #415 closed

[2016-12-31 11:29] #425 closed

[2017-01-04 11:02] surajssd opened #428 "libcompose fails when extends is string"
using this docker-compose file
[code]

libcompose fails as:
[code]

when using extends in following format, it works fine:

[code]

libcompose worked fine:
[code]

Ref: https://github.com/kubernetes-incubator/kompose/issues/357

[2017-01-04 15:59] joshwget commented on #428
There's been a little bit of discussion around this already.

#185
https://github.com/docker/compose/issues/3363

At this point it's probably best to just support this since Docker Compose seems to.

[2017-01-04 17:50] surajssd commented on #428
@joshwget sorry I didn't get this part? docker-compose supports extends to be string as service name in same file, string as name of some other file, object with filename and servicename?

So what part are you asking should be supported?

[2017-01-05 04:57] joshwget commented on #428
Sorry, just saying that we should just mimic Docker Compose even if it's not confirmed that's how the feature was designed.

- If it's a string, treat it as a service in the same file
- If it's an object, use the existing behavior

[2017-01-15 06:09] ghing opened #429 "APIProject.Run fails with "inappropriate ioctl for device" error"
I'm trying to run libcompose to start some Docker containers in some Go integration tests.

Here's the `TestMain` function that uses libcompose to set up and tear down the containers:

[code]

The call to `Run()` in the above code fails with an "inappropriate ioctl for device" error, which I believe trickles up from `Container.Run` [when calling term.SetRawTerminal](https://github.com/docker/libco

[2017-01-16 06:22] surajssd opened #430 "fails on empty root level volume"
Using following docker-compose.yml

[code]

fails as:
[code]

but works with docker-compose.

[2017-01-18 00:07] joshwget commented on #414
You can pass in a `ClientFactory` to `NewProject` (https://github.com/docker/libcompose/blob/master/docker/project.go#L21) to accomplish this.

[2017-01-24 00:05] technolo-g commented on #186
This would be handy for me as well.a

[2017-01-26 00:57] CpuID commented on #421
+1

[2017-01-27 10:06] lussoluca commented on #341
Any quick solution to this problem?

[2017-02-06 12:26] surajnarwade opened #435 "libcompose fails when float environment value is passed"
when we pass float value in environment variables as below:
[code]
I am getting following error:
[code]

[2017-02-11 08:59] #435 closed

[2017-02-21 13:05] james-nesbitt commented on #429
can you specify what version your docker daemon is running?

[2017-02-21 14:55] james-nesbitt opened #438 "container network aliases fail with docker 1.13"
When using the following components in my compose yml file:

[code]

The nginx server is unable to see the fpm server:

[code]

When `exec`ing a shell in the containers, I find that they are truly unable to see each other using service name.  They can of course see each other when using the particular container name.

When using the python `docker-compose` this orchestration produces containers th

[2017-02-21 15:05] james-nesbitt commented on #438
I meant to clarify, that this is a new issue for our code, that only appeared with docker 1.13.  This occurred both with and without swarm mode.

[2017-02-21 15:19] james-nesbitt commented on #438
In reconsidering the statement about container aliases:

[2017-02-21 15:31] ghing commented on #429
[code]

[2017-02-21 19:17] yinshiua opened #439 "Support memory reservation"
Docker compose does not support memory reservation in version2. (https://github.com/docker/compose/pull/3714) Is it possible to support memory reservation in version2?

If not, I saw version3 supports memory reservation (https://docs.docker.com/compose/compose-file/), when do you plan on supporting this?

[2017-02-22 18:03] vito-c opened #441 "docker-compose version 2.1 (v2.1)"
I just changed the version from:
[code]
to
[code]
and  I get the following error:
[code]

Are there plans to support version 2.1 in the future? There are some important features added to the compose file `healthcheck` and `depends_on` was improved.

[2017-02-22 19:45] vdemeester commented on #441
@vito-c yes there is 👼 Just lagging behind quite a bit (running a little bit out of time 😅)

[2017-02-22 23:21] vito-c commented on #441
I would love to help is there a branch? or does it need to be implemented from scratch?

[2017-02-22 23:38] vito-c commented on #186
This says it is in a closed milestone but I'm not sure where the documentation and the issue is still open.  :(

[2017-02-23 00:49] vito-c commented on #186
To give you an idea of how troublesome this has been.

[code]

[code]

[2017-02-23 10:17] procrypt opened #442 "Unable to build libcompose"
I was trying to build `libcompose` binary but, when I run ` go build -o libcompose ./cli/main`, this pops up

[code]
Go Version
[code]
Can anyone help ?

[2017-02-23 17:07] mikeifomin commented on #430
In my case the error has gone

[2017-02-23 17:29] vito-c commented on #442
Try this from the readme first
[code]

[2017-02-23 17:30] vito-c commented on #186
In case anyone else runs into this issue here is the way I solved it.
[code]

[2017-02-23 17:32] technolo-g commented on #186
Thanks @vito-c!

[2017-02-27 06:18] surajnarwade opened #443 ".env file lookup in current directory rather than docker-compose file directory"
when I do from same directory where docker-compose file is placed, everything works fine
[code]
but, when I do from any other directory, like
[code]
it fails, it looks for .env file in current directory rather than test.

[2017-02-28 00:31] technolo-g commented on #186
@vito-c, would you like me to PR this into the docs?

[2017-02-28 04:34] vito-c commented on #441
@vdemeester anything I can do to help?

[2017-02-28 04:37] vito-c commented on #186
@vdemeester would you like me to put this in the example dir?

[2017-02-28 07:52] vdemeester commented on #443
For reference : https://github.com/docker/docker.github.io/blob/master/compose/compose-file/index.md#env_file 👼

[2017-02-28 07:58] vdemeester commented on #186
@vito-c definitely 👼 🙏 😸

[2017-02-28 23:32] joshwget commented on #441
It sounds like the changes to `depends_on` aren't supported in v3 anymore (https://github.com/docker/compose/blob/master/CHANGELOG.md#compose-file-version-21-and-up). Is it worth working on this feature still?

[2017-03-01 09:06] james-nesbitt commented on #429
sorry for not being able to address this.  I want to suggest an issue with a volume bind (are you mapping a local path) but I haven't had any time to put any real thoughts together.

If you are using any volume binds, or custom volume plugins, can you specify:

1. do all local volume paths exist (are any of them symlinks or cross partition links)
2. what volume plugins you are using
3. if you are

[2017-03-01 09:41] procrypt opened #444 "Support for userns_mode"
If my docker-compose file containes `userns_mode` directive I get this error.
[code]

[2017-03-01 09:48] procrypt opened #445 "Error when using sysctls"
If my docker-compose file contains `sysctls` directive, I get this error.
[code]

[2017-03-01 14:23] surajnarwade commented on #443
I want to work on it

[2017-03-01 17:37] vito-c commented on #441
@joshwget backwards compatibility is important.

I'm also a little confused by the decision to drop support for `depends_on` and `health_checks` I haven't really heard a good argument for doing so.

[2017-03-02 11:04] procrypt opened #446 "Error when using group_add directive"
docker-compose `group_add` directive is supported by `libcompose` but when I run
it with my docker-file containing `group_add` I get this
[code]

docker-compose file
[code]

It works fine with `docker-compose up`.
[code]

[2017-03-02 11:05] procrypt commented on #442
@vito-c can you be more verbose :)

[2017-03-02 13:29] procrypt opened #447 "Support for stop_grace_period"
If my docker-compose file containes`stop_grace_period` directive I get this error.

[code]

docker-compose file
[code]

[2017-03-03 13:27] surajnarwade opened #449 "libcompose is failing while building from other directories"
I have following two types of docker-compose files,
[code]

[code]
and I am getting following output:

[code]

[code]

libcompose is failing for first docker-compose file while performing build from other ditrectories

[2017-03-06 06:09] surajnarwade commented on #443
cc @vdemeester

[2017-03-07 23:42] c100k commented on #439
It has been merged : https://github.com/docker/compose/pull/4563

[2017-03-08 07:36] joshwget commented on #446
There are some attributes I've implemented in [our libcompose fork](https://github.com/rancher/libcompose/commits/rancher-compose-v0.12.0) (including `group_add`). If anyone wants to beat me to this feel free to move these commits upstream. Might also be a good reference for adding new fields.

[2017-03-09 19:16] yinshiua commented on #158
Hi, amazon-ecs-cli depends on libcompose and we have customers seeing similar errors https://github.com/aws/amazon-ecs-cli/issues/193. Is the issue that the compose file is invalid?

[2017-03-10 17:05] MichaelMackus commented on #421
+1

[2017-03-13 19:29] cdrage commented on #421
Hi @vdemeester

I'm starting to investigate on how to implement v3 of Docker Compose into libcompose.

When going through the code, it's hard to tell whats-what as there is a lack of comments. One particular question I have is the `hack` folder and the schema generation of v2 and v1.

Given a clean-slate, would it be better to implement via https://github.com/aanand/compose-file or adding v3 manua

[2017-03-14 14:01] cdrage commented on #430
I think this can be closed :)

[2017-03-14 14:14] #430 closed

[2017-03-18 14:27] vito-c commented on #186
@vdemeester I've been trying to test this with the new docker that cam out and have been failing pretty hard when the `~/.docker/config.json` file is of the format:
[code]

It works fine when the format is:
[code]

[2017-03-19 05:10] vito-c commented on #186
As far as I can tell the current vendor version of docker you are using for libcompose doesn't support  credentials via `osxkeychain` because it doesn't have `/Users/vitocutten/code/go/src/github.com/docker/docker/cli/config/credentials/default_store_darwin.go`

[2017-03-21 15:55] jritsema opened #454 "serviceConfig.Environment.ToMap() doesn't support environment variables containing equals signs ("=")"
Similar to [this issue](https://github.com/docker/libcompose/pull/87), the `Environment.ToMap()` [API](https://github.com/docker/libcompose/blob/master/yaml/types_yaml.go#L153) isn't able to parse equals signs (`=`).  For example:

[code]

[code]

[2017-03-23 06:58] surajnarwade opened #456 "Adding `networks` key results in runtime error"
for example, with this docker-compose file,
[code]

I am getting output as:

[code]

otherwise, it works with docker-compose,

[code]

[2017-03-24 07:31] #443 closed

[2017-04-10 16:00] janeczku opened #459 "Add support for `init` service property"
See https://github.com/docker/compose/pull/4716

[2017-04-20 08:32] #454 closed

[2017-04-20 08:42] #449 closed

[2017-04-20 08:43] #428 closed

[2017-04-27 15:30] vito-c opened #461 "Network Alias"
From what I can tell network aliases don't work at all.

[2017-04-27 17:21] vito-c commented on #461
[code]

Here is the response:
[code]

[2017-04-30 21:28] rajeevb2 opened #463 "Does current libcompose support the docker-compose "deploy"?"
This feature is explained in:
https://sreeninet.wordpress.com/2017/03/28/comparing-docker-compose-versions/

[2017-05-01 15:02] cdrage commented on #463
Nope. That's in v3! Which is currently in-progress of getting added.

On Apr 30, 2017 17:28, "rajeevb2" <notifications@github.com> wrote:

[2017-05-11 15:10] #446 closed

[2017-05-11 15:12] #447 closed

[2017-05-12 13:30] vrischmann commented on #429
Hi,

so I think I just encountered the same bug here. I use libcompose to build our apps and when it's run inside Gitlab CI it fails with `inappropriate ioctl for device`. `docker-compose run` used to work, it was the setup we used before this tool.

I do bind 2 volumes to perform my tests. For example, I bind the `src` directory and `pom.xml` to my container when running a maven container for my

[2017-05-15 12:22] #456 closed

[2017-05-16 11:09] yogihardi opened #468 "Panic and Crash when load nonfunctional docker-compose file"
When I tried to run **nonfunctional** docker-compose file, I got panic and my apps crashed, I can't catch the nil pointer, event with code below:

[code]

I think it would be better not `panicking` and give the error to proper error variable.

**docker compose file**
[code]

here's details of my machine:

**docker version**
[code]

**docker info**
[code]

[2017-05-22 09:40] hujianxiong opened #470 "how to close client factory"
`clientfacotry, err := client.NewDefaultFactory(client.Options{
		Host:       buffer.String(),
		APIVersion: "1.24"})`

How to close it???

[2017-05-23 20:34] rifelpet opened #471 "Defining a service with both image: and build: is incorrectly not supported"
Currently if a service has both `image:` and `build:`, the `build:` is [removed from the service's configuration](https://github.com/docker/libcompose/blob/3066e414fad534580ae31f760af98125c1b84293/config/merge.go#L227-L231). This conflicts with what [compose supports](https://github.com/docker/compose/pull/2458) (see also the [compose reference](https://docs.docker.com/compose/compose-file/compose

[2017-05-23 20:41] vdemeester commented on #471
@rifelpet oh.. I thought it was just calling `mergeConfig` on v1 compose files.. it seems it does the same for v2.. We should still have thoses lines around for v1 compose file (because `docker-compose` acts the same). Having `build` and `image` in the compose file is a v2 or above thing, so we should do the same. So those lines should only be executed on v1 compose files.

[2017-05-29 09:36] surajssd opened #473 "Repetition of ports from two different docker-compose files"
I have two docker-compose files which are similar:

[code]

which looks like this:
[code]

When fed to libcompose, while libcompose is trying to merge the info, it should detect the repetition of ports and error out, but it goes forward and merges it:

[code]

This works fine on docker-compose:

[code]

containers

[code]

---

When the docker-compose files are like this:

[code]

Just changed the

[2017-05-29 09:43] surajssd commented on #473
With respect to port it is not giving any errors but the data is repeated as well when using list form of specifying ports! See https://github.com/kubernetes-incubator/kompose/pull/596#discussion_r116923543 for more details!

[2017-05-30 13:40] rdlf0 commented on #207
Is `detached (-d)` option currently available and is it possible to pass a service name?

[2017-05-31 08:05] rdlf0 opened #474 "Support for docker compose version 3"
When trying to use a docker-compose.yml file with version 3 syntax, I get the following error:
[code]
Rolling back to version 2 solves the problem, but there are features from version 3 which I need.

[2017-06-16 06:11] surajnarwade opened #475 "problem with validation when `extends` key is used"
main docker-compose file is:

[code]

child docker-compose file is:

[code]

error is:

[code]

[2017-06-16 11:46] #475 closed

[2017-06-20 08:07] #471 closed

[2017-06-25 05:54] deviantony commented on #166
@vdemeester Am I correct to say that `docker.NewDefaultClientFactory()` is not the correct method to create a ClientFactory anymore? I'm trying to pass TLS options to the `client.NewDefaultFactory()` but I've got conflict issues with the `github.com/docker/docker/pkg/tlsconfig` package and the one vendored in the libcompose library.

[2017-06-25 09:16] vdemeester commented on #166
@deviantony the conflict you have is probably due to go vendoring and the weird ways it is not working with nested vendoring (i.e. if you use libcompose and vendor it, you need to remove the `vendor` folder from it).

[2017-06-25 13:35] deviantony commented on #166
Actually, I'm using the following:

[code]

And got the following issue:

[code]

I'm not vendoring libcompose at all. Is this the correct way to create a ClientFactory?

[2017-06-25 15:09] vdemeester commented on #166
@deviantony yes I think it is the right way to create `ClientFactory`. The problem is the `vendor` folder of `libcompose` then. Basically, you have a `github.com/docker/docker/pkg/tlsconfig` version in your `GOPATH` and there is one in the `vendor` folder of `libcompose`, making the go compiler scream 😓

This is the weird state of `go` vendoring  for now.. If you remove the `vendor` folder of `lib

[2017-06-26 05:03] deviantony commented on #166
Right, looks like an ugly workaround to me :-)

Do you know any other way to have libcompose connect to a remote TLS Docker host?

[2017-07-03 16:34] deviantony opened #480 "Error when scaling a service"
It seems that there is a bug related to the ability to scale a service using libcompose.

I built libcompose using the following steps:

* Download libcompose using `github.com/docker/libcompose`
* Go into golang workspace and build libcompose by following the instructions in README.md

Now, when using the following `docker-compose.yml` file:

[code]

I can execute the `up` action against the stac

[2017-07-04 15:33] deviantony commented on #480
This issue seems to be related to the API_VERSION. I did not found a way to set the API_VERSION used internally by the client with the `libcompose` cli tool (default API_VERSION is hardcoded to  "1.20", my engine is using "1.30").

When using the scale feature programmatically with a client with a correct API_VERSION, this works well.

[2017-07-04 18:31] deviantony commented on #480
Actually, I just reproduced this even we specifying the APIVersion. Will investigate a bit more.

[2017-07-10 12:23] #461 closed

[2017-07-11 08:00] timoreimann opened #484 "external default network specification not being used"
I'm trying to use a compose manifest where an external default network is being defined. However, it seems like the configuration isn't being honored.

To illustrate my problem, I put together [an example repo](https://github.com/timoreimann/libcomposetest/tree/external-network) (note the extra branch I have created for this purpose). The external network is defined [here](https://github.com/timor

[2017-07-28 11:18] yogihardi commented on #468
Hi @vdemeester ,

Is there any updates for this bug, maybe patch will available on the next release?
thank you

[2017-07-31 17:53] markrey commented on #468
@vdemeester any solution for this?

[2017-08-02 17:55] cdrage commented on #445
Hey @vdemeester this is blocking us adding support in Kubernetes / Kompose / Docker Compose.

Do you think we could add sysctl support to libcompose? (it's already added to docker/cli but not to docker/libcompose)

[2017-08-02 18:14] vdemeester commented on #445
@cdrage yep, it is supported by compose (https://docs.docker.com/compose/compose-file/#sysctls) so libcompose should support it 👼

[2017-08-02 18:28] cdrage commented on #445
@vdemeester Nope, doesn't seem to work. Same problem as in the original description of this issue, using the latest libcompose:

[code]

[2017-08-02 18:36] vdemeester commented on #445
@cdrage I meant we need to add support for it in libcompose 👼

[2017-08-10 08:58] mindaugasrukas opened #486 "Could not parse config for project which was created by the same lib"
Errors:
* Could not parse config for project demo : yaml: unmarshal errors:
  line 1: cannot unmarshal !!str `2.0` into config.RawService
* Error response from daemon: network demo_default not found

Demo code:
[code]

[code]

[code]

[code]

[code]

[2017-08-10 15:26] stepanstipl opened #487 "libcompose library ignoring set log levels"
Hi, I can't seem to be able to get libcompose to respect my logger settings.

If I do smth like:
[code]

typically libraries using logrus would respect my logger settings (level & format).

I can't get it working with `libcompose`, for some reason I'll still see all the logs from info level above with default formatting.

Any idea why is this not working/how I can suppress logs from libcompose? An

[2017-08-22 17:31] cdrage opened #488 "Issue with env_file population."
Using this an example:

[code]

It seems that `env_file` isn't being properly populated to the ServiceConfig.

It's hard to explain without showing code, but essentially we use libcompose to parse a Docker Compose file and `env_file` within ServiceConfig is blank.

Yes, it goes through the file and grabs the environment variables correctly, but within the libcompose code, `env_file` isn't being sh

[2017-09-05 11:18] muka commented on #421
This is also implemented in `docker/cli`

https://github.com/docker/cli/blob/master/cli/command/stack/deploy_composefile.go

[2017-09-05 14:08] cdrage commented on #421
@muka That's what we ended up using in https://github.com/kubernetes/kompose since we didn't get any feedback from @vdemeester on Version 3 of Docker Compose in libcompose. Perhaps one-day the efforts put towards `stack` could be back-ported / contributed to libcompose

[2017-09-05 16:44] muka commented on #421
@cdrage I am curious, have you directly imported the cli as package or ported the code. Can you share any relevant source? Thx

[2017-09-05 16:50] cdrage commented on #421
Hey @muka see: https://github.com/kubernetes/kompose/blob/master/pkg/loader/compose/v3.go

We ended up using the `docker/cli` library in order to parse the values into our own separate struct.

[2017-09-05 17:53] abuckenheimer opened #490 "compose version: "2.0""
Hey folks,

Noticed an [issue ](https://github.com/aws/amazon-ecs-cli/issues/305#issuecomment-327244778) using a downstream project [ecs-cli](https://github.com/aws/amazon-ecs-cli) where libcompose fails to parse the compose file when version is set to "2.0" instead of "2". I have never been a gopher but if I had to take a stab at it it seems like the issue is a naive string comparison [here](http

[2017-09-06 18:18] jritsema commented on #488
I just hit this as well.  Was expecting the `serviceConfig.EnvFile` field to be populated but it's empty even though the contents of the env files end up in `serviceConfig.Environment`.  Curious what the design intent was on this?  On the one hand, it's convenient to have a single field to check to get all environment variables, but on the other, it's nice to know where they came from.

[code]

[2017-09-06 19:07] jritsema commented on #488
Looks like the culprit is [here](https://github.com/docker/libcompose/blob/master/config/merge.go#L232).  @vdemeester do you know if we would break anyone if we simply removed this line?  Any thoughts?

[2017-09-08 18:43] rifelpet opened #493 "Lowercase sirupsen/logrus package import"
I'm using libcompose and need a more recent version of `docker/docker` than what is pinned in libcompose's `vendor.conf`. One of the issues with using the latest master branch of `docker/docker` is that it imports a lowercase `sirupsen/logrus` while libcompose imports `Sirupsen/logrus`.

I went through libcompose's imports and the only ones using Logrus import the lowercase version in their master

[2017-09-08 19:17] vdemeester commented on #493
yes, I was waiting for docker/docker and docker/cli to get updated

[2017-09-15 13:49] #488 closed

[2017-09-15 13:51] #480 closed

[2017-09-18 20:05] lucacome opened #494 "compose Up fails trying to recreate containers when not needed"
I can't seem to find a way to replicate the behavior of `docker-compose up -d`, where if the container has not changed, nothing happens. Instead, I get:
`ERRO[0006] Failed to start: rethinkdb : Error response from daemon: endpoint with name rethinkdb already exists in network ubuntu_default`

Am I doing something wrong?

[2017-09-19 16:38] lucacome commented on #494
I'm guessing it's because of this set to true: https://github.com/docker/libcompose/blob/master/docker/service/service.go#L242

[2017-09-22 15:32] jordanabderrachid opened #495 "Only one network alias created"
**Description**

When defining several network aliases, only one is created.

**System Info**

[code]

**Reproduce case**

_docker-compose.yml_
[code]

_main.go_
[code]

`docker inspect server`
[code]

[2017-09-24 22:05] yelvert commented on #441
+1

[2017-09-28 18:14] vito-c commented on #494
I can confirm this was introduced by this commit:
https://github.com/docker/libcompose/commit/f5c34b0a35164a0f6d8b861df32b2e4e54deb847

[2017-09-29 06:06] vito-c commented on #494
@xihan88

[2017-09-29 06:57] vito-c commented on #494
Simple Expected Example with docker compose:
[code]
[code]
Then make a change to the compose file `ports ["8080:8080"]` for example
[code]

Libcompose is no longer following this behavior it is now barfing out an error on second up.

[2017-10-11 17:14] cheapRoc commented on #441
I've [started working](https://github.com/cheapRoc/libcompose/commits/refactor-v2_1) on some of this in my spare time. I'm not 100% positive why the changes were made in [this commit](https://github.com/docker/libcompose/commit/99e58bed93c224d4cc7f49a1a643e5854094155f) but I've got past the general YAML parsing error mentioned in this issue simply by removing some unused portion of that commit (th

[2017-10-12 18:17] kdykeman opened #499 "'hack' contains two packages in the same directory - breaking some tools"
Some folks are using [LicenseFinder](https://github.com/pivotal/LicenseFinder) to enumerate the open source dependencies and licenses used by their cod. LicenseFinder runs `go list`, and in the case where there are two golang packages in the same directory (in this case 'libcompose/hack'), `go list` fails with:
[code]
Can each package move into its own folder?

[2017-10-13 10:05] vdemeester commented on #499
@kdykeman ohh yeah, that's not good, I'll take a look 😉

[2017-10-21 07:57] andresvia commented on #421
Would you put a comment on the project `README.md` indicating that github.com/docker/cli/cli/compose/* packages are the way to go? I've spent a few hours trying to crack this lib out, just to find that it might not be maintained in the long run, I believe docker guys are too busy to backport docker-compose cli to libcompose, for me importing `docker/cli` seems like a reasonable way to include dock

[2017-10-21 11:26] vdemeester commented on #421
@andresvia I'm mainly trying to add support for v1/v2 in `docker/cli`, and then refactor this library to share the same code in some `v2` branch or sthg 👼  (see https://github.com/docker/cli/pull/573)

[2017-10-23 12:18] joyel24 commented on #441
+1 for support 2.1 yml

[2017-10-24 00:11] arbourd commented on #493
Related PR: #498

[2017-10-24 07:49] enavarro222 commented on #474
One can see issue : https://github.com/docker/libcompose/issues/421

[2017-10-27 19:25] rifelpet commented on #493
Closed via #498

[2017-10-27 19:25] #493 closed

[2017-11-07 07:04] CorrineQI opened #500 "知名美股上市外企 寻 docker方向leader及工程师"
【today’s share】
Company background：Famous&American stock&foreign company
Position category：concentrating on container ，in especial  docker
BASE：Shenzhen , Shang hai  or HangZhou  of  China ,  or  Singapore
【Personal Information】
E-mail:363624482@qq.com
QQ:363624482
Tel and Wechat：13751038400

[2017-11-07 08:07] #500 closed

[2017-11-11 10:31] mlosev commented on #441
I think we also need 2.2 schema support

[2017-11-13 17:59] donbobka commented on #441
+1 version 2.3

[2017-11-18 12:08] pwFoo opened #501 "Question: How to use Up() without detached?"
I try to build `docker-compose -f <file> up` with libcompose. Any way to start the service in foreground without `context.Background()`? I searched around, read the godocs and did some tests without success.

I'm new with go and libcompose, so I searched a long time because I though there should be anything I missed. Maybe someone could help me with a hint how to do it?

[2017-11-22 09:13] mcuadros commented on #487
any update on this?

[2017-11-28 16:19] gkatsanos commented on #421
still open after a year :( no hope

[2017-12-06 11:37] james-nesbitt commented on #421
the docker/cli (moby/cli) functionality is not easily resuable in libcompose as it of course renders whole compose files into "types" of the docker handler.  This means "import"ing a massive amount of docker/moby code in as libraries into this project, and either converting them into classic libcompose types, or refactoring libcompose to use the docker/moby types.  This means lots of work for Serv

[2017-12-10 09:38] pwFoo commented on #501
Anyone?
Would be nice to get a compose file started "foreground" instead of background with Up().  Works fine with Run()  with "Detached" (bool) option.

[2017-12-14 18:09] tirasmuturi commented on #447
You need to check the docker compose version in your docker compose file.
Use version 3 and above.

Use can follow this documentation.
https://docs.docker.com/compose/compose-file/#stop_grace_period

[2017-12-15 10:38] joltcoke opened #502 "No image or build context specified error when using override file"
The tool causing the error is esc-cli, but apparently it's due to a limitation in libcompose. I've initially filed an issue with ecs-cli (https://github.com/aws/amazon-ecs-cli/issues/393#issuecomment-351822920) but they asked me to file one here. So here we go:

I have a docker-compose.yml (which doesn't contain a build or image setting) and a docker-compose.override.yml (which contains an image s

[2017-12-20 09:50] lucacome commented on #494
Is anything happening about this?

[2018-01-08 02:39] lpalgarvio commented on #441
https://github.com/rancher/rancher/issues/10158

[2018-01-08 02:40] lpalgarvio commented on #421
Referencing to rancher:
- https://github.com/rancher/rancher/issues/10290

[2018-01-10 00:09] the-destro opened #503 "Build fails on a fresh checkout"
Feshly fetched via dep:
[code]

[2018-01-24 00:45] xihan88 commented on #494
@lucacome This issue is due to the problem from L331-L347 in this file https://github.com/docker/libcompose/blob/57bd716502dcbe1799f026148016022b0f3b989c/docker/service/service.go#L331
because if a container is not recreated, it shouldn't be connecting to the previous network and starting again. I will make a simple fix for it.
@vito-c In the previous version before my PR, a service will always be

[2018-01-30 20:14] xihan88 commented on #495
Possibly related issue: https://github.com/moby/moby/issues/33661

[2018-02-02 22:25] ryanmiville commented on #503
@the-destro Not sure if you found a workaround, but in the meantime, I got around the issue by clearing out my vendor directory, running `go get github.com/docker/libcompose` and copying from my `$GOPATH/src` into my vendor directory. I'm very new to Go so there's probably a better answer.

[2018-02-13 14:31] ksinica commented on #503
You can try to add the following constraint to Gopkg.toml (since you're using dep):

[code]

`0c8571ac0ce161a5feb57375a9cdf148c98c0f70` is just before https://github.com/xeipuuv/gojsonschema/commit/90a5d0892ddc0fe47d6d68e7b93f0d67e18e6cbe which is a breaking change.

[2018-02-13 14:54] the-destro commented on #503
Thanks!

Sent from my iPhone

[2018-02-25 16:28] #503 closed

[2018-03-06 20:47] vito-c commented on #495
@vdemeester what will it take to get this fixed? updating docker vendor to moby?

I just noticed this issue and I saw that if I use two networks

[code]

Which brought me to another question. How do you create an alias for an external network in docker-compose v2??

You can't duplicate keys so this won't work
[code]

[2018-03-07 01:12] vito-c commented on #495
@vdemeester I have a "hack" that I was able to implement to get aliases working (at least for my project).

./vendor/github.com/docker/libcompose/docker/service/service.go
[code]
essentially reconnect quickly to the network to trick the docker client into creating the alias.

[2018-03-07 18:32] vito-c commented on #495
I will make a PR with this so it's easier to see the change

[2018-04-23 13:05] #495 closed

[2018-04-24 09:31] #279 closed

[2018-07-05 22:22] llater commented on #501
Did find a solution for this?

[2018-07-06 20:07] pwFoo commented on #501
No, tested some variations, but without success.
Stopped playing with libcompose for the moment :(

[2018-07-06 21:18] llater commented on #501
A major bummer! Looks like a dead end--thank you for the reply.

[2018-07-11 00:31] thalesfsp commented on #421
More than a year, is it a joke?

[2018-08-21 22:35] CpuID commented on #490
This can be closed thanks to https://github.com/docker/libcompose/pull/507 for now I think (lack of test coverage, but the bug is resolved).

[2018-08-21 22:35] CpuID commented on #486
This can be closed thanks to https://github.com/docker/libcompose/pull/507

[2018-08-21 22:36] CpuID commented on #474
The first half of this is covered by https://github.com/docker/libcompose/pull/507 (actually parsing the `version` string in the file). The v3 specific file features may still be missing and need work though, TBD.

[2018-08-21 22:36] CpuID commented on #441
Good to close thanks to https://github.com/docker/libcompose/pull/507 (I think).

[2018-08-22 07:56] #486 closed

[2018-08-22 07:56] #490 closed

[2018-08-22 07:57] #441 closed

[2018-09-01 19:55] wagoodman opened #508 "Is this project dead?"
I'm considering using this lib in another project of mine, however, I may not want to commit to using this lib if the project is dead. There have been ~7 PRs merged this year and the README mentions that this is still experimental, so...

1. is this project dead?
2. if it's not dead, then is there a roadmap detailing when this lib will be stable/non-experimental?

[2018-09-07 13:01] SeriyBg commented on #503
I'm trying to use `libcompose v0.4.0` inside of a go module project and getting the same errors.
To resolve the `gojsonschema.FormatChecker` error I have run `go get -v github.com/xeipuuv/gojsonschema@0c8571a` which set the right revision to my dependencies.
But now I'm still having this one:
`docker/builder/builder.go:99:12: cannot use d.BuildArgs (type map[string]string) as type map[string]*stri

[2018-09-09 00:08] wagoodman opened #509 "Volume driver reports as "changed" on second "libcompose up" attempt"
Currently when attempting to run bring services up with libcompose, on the second attempt the `Up` command fails with `Volume "node_modules" needs to be recreated - driver has changed`.

The example docker compose file:
[code]

The issue looks to be here: https://github.com/docker/libcompose/blob/6bb86d53fa21f155e2daafa64796dbca61733df5/docker/volume/volume.go#L63-L65

It is assumed that there wil

[2018-09-09 00:38] wagoodman opened #510 "Creating a network is slow"
I haven't investigated why yet, however if you have a `network:` declaration in the docker-compose file and you run libcompose up, the network takes 10+ seconds to be created the first go around (it hangs at `Creating network "<network name>" with driver ""`). This delay is multiplied by the number of networks you have defined in your compose file.

[2018-09-09 17:46] wagoodman commented on #377
This doesn't help with all possible changes to the config that you can make. For instance, if you want to modify a volume or add a service to a network, then changing the config would not help. For instance, when using Load() this would initialize the volume/network data structures, so changing the config at this point would do nothing (and is a bit misleading): https://github.com/docker/libcompos

[2018-09-09 19:51] wagoodman opened #511 "Tie the docker events api into libcompose events"
Currently the libcompose project object can notify when particular events occur via the `AddListener` function. This is great when you are trying to get events from libcompose actions, however, this doesn't appear to be tied into the docker events api (https://docs.docker.com/engine/api/v1.37/#operation/SystemEvents). This means that it is possible for a container to restart outside of libcompose'

[2018-09-11 12:28] andscoop commented on #487
I dug in a little more and wanted to share my findings

### Controlling Log Level as Best We Can

While not ideal, it appears that you gain some control over the logging level if you toggle the `infoEvents` map in `listener.go`. This will work if you vendor `libcompose` and either want the logging level at info or debug. I don't see a way to interface with this map at run time. Ideally libcompose

[2018-09-17 12:34] prashanthjbabu opened #513 "docker compose file fails with libcompose passes with docker-compose CLI"
Here is the docker compose file

This docker compose file fails with libcompose but works with docker-compose CLI. Narrowed down the problem to :
ERRO[0000] Failed Starting helloworld : Error response from daemon: page not found
ERRO[0000] Failed to start: helloworld : Error response from daemon: page not found

The page not found from daemon was because of the following API call :

/v1.20/network

[2018-09-18 04:31] prashanthjbabu opened #514 "libcompose differentiating between version 2 and version 2.0"
According to documentation https://docs.docker.com/compose/compose-file/compose-versioning/#version-2 . Version 2 and 2.0 are meant to be the same although libcompose seems to be treating them differently throwing out a different config whenever the API project.Config() is called.
Example :
1)

{"services":{"helloworld":{"container_name":"helloworld","image":"tutum/hello-world" }},"version":"2"}
p

[2018-09-27 06:24] prashanthjbabu opened #515 "libcompose fails to create networks for version "2.0" and above"
The following docker compose file fails to work with libcompose

It doesn't work for version 2.1,2.2 etc either . Replacing version to "2" works! The same yaml file above works on docker-compose CLI

[2018-10-03 08:04] prashanthjbabu commented on #513
@thalesfsp I noticed that removing "networks":{"default":{}} from the above JSON works.

[2018-10-09 11:01] anggahusni27 commented on #166
Is there any update or workaround about this issue?

[2018-10-19 15:43] thecampagnards commented on #503
Does anyone have an update?

Or can send me his `Gopkg.toml`
Please

[2018-10-19 16:12] iBobik commented on #421
I see Kompose is using docker/cli to parse v3 yamls, so probably community gave up with waiting for libcompose.
https://github.com/kubernetes/kompose/blob/master/glide.yaml#L31

[2018-11-06 00:35] Leopere commented on #421
To be honest I was getting really excited to run a Rancher instance for testing but if I can't do v3.6 at this point its kind of a pain.  Is there no person within the group who can upgrade `libcompose`?

[2018-11-06 16:02] cdrage commented on #421
@iBobik  That's correct!

This project has also been deprecated (libcompose)

[2018-12-03 20:38] devs-php commented on #421
Any chance to implement v3?

[2018-12-04 18:10] Leopere commented on #421
@devs-php sounds like the answer is a hard nope, might have to fork it yourself if you want v3+

[2018-12-21 10:53] #204 closed

[2018-12-21 10:53] #207 closed

[2018-12-21 10:53] #142 closed

[2018-12-21 10:54] #145 closed

[2018-12-21 10:54] #155 closed

[2018-12-21 10:54] #156 closed

[2018-12-21 10:54] #182 closed

[2018-12-21 10:55] #208 closed

[2018-12-21 10:55] #210 closed

[2018-12-21 10:55] #211 closed

[2018-12-21 10:55] #308 closed

[2018-12-21 10:55] #327 closed

[2018-12-21 10:55] #328 closed

[2018-12-21 10:55] #329 closed

[2018-12-21 10:55] #330 closed

[2019-05-21 16:56] andriisoldatenko commented on #211
@vdemeester I was wondering to implement this, can you reopen issue?

[2019-07-16 23:10] truckfondue commented on #503
https://github.com/docker/libcompose/commit/6cfd21b322e96c63cbd17153850cc626d8e2600b#diff-e07f928fd25386d109b941cd8412d2d2

[2019-08-08 07:37] prashanthjbabu opened #524 "libcompose build broken"
It seems like libcompose is broken after the recent commits.
[code]

[2019-08-08 08:13] ldez commented on #524
Hello,

The last commit add the support of Go modules, then now you have to use at least go1.11 and active go modules `export GO111MODULE=on`

[2019-08-09 04:35] prashanthjbabu commented on #524
Got it ! Thanks a lot for your response . I'll close this issue!

[2019-08-09 04:35] #524 closed

[2019-08-14 00:10] CpuID opened #527 "Jenkins marking tests successful when they fail?"
https://jenkins.dockerproject.org/job/docker/job/libcompose/branch/master/178/consoleFull

Ctrl+f `failed`, whereas the build supposedly is passing?

This GH issue should be about ensuring Jenkins reflects reality, not necessarily fixing the underlying tests.

[2019-08-14 00:10] CpuID commented on #527
[code]

[2019-08-14 05:48] vdemeester commented on #527
@CpuID yes, the acceptance tests from `docker/compose` are here for information (of what was required for the library to do), but they are not bloking

[2019-08-14 10:14] CpuID commented on #527
Fair enough, I'll close this in that case.

[2019-08-14 10:14] #527 closed

[2020-03-29 02:50] xZero707 commented on #509
I just encountered this with version 1.25.4 (From pip).
Any progress with this? It's an old issue that remains unsolved.

If you have encountered it, the workaround is available in reference posted by @frafra, just above this comment.

[2020-04-16 16:06] thaJeztah commented on #509
@xZero707 this is the repository for `libcompose`, a go-implementation of a library for handling compose-files; I think you might be looking for the docker compose issue tracker; https://github.com/docker/compose/issues

[2020-04-30 11:04] xZero707 commented on #509
@thaJeztah I'm sure it's libcompose as I encountered error inside portainer/portainer container which utilized libcompose for stack deployment.

I agree, however that docker-compose from pip has nothing to do with libcompose. Sorry about that confusion.

[2020-11-26 13:22] HarikrishnanBalagopal commented on #487
Seems it is possible to control the logging level in `libcompose@v0.4.1-0.20171025083809-57bd716502dc`
Example:
[code]
The above code allows libcompose to be used to detect if a file is a `docker-compose` file or not.
Usually it prints a bunch of errors if the file is not a valid `docker-compose` file, but with above code it does not.